<p id="notice"><%= notice %></p>
<!-- Main Banner Starts -->
	<div class="main-banner">
	<!-- Nested Container Starts -->
		<div class="container">

			<h2>There is no meal like a home cooked meal.</h2>
		</div>
	<!-- Nested Container Ends -->
	</div>
<!-- Main Banner Ends -->
<!-- Main Container Starts -->
	<div id="main-container" class="container">
	<!-- Breadcrumb Starts -->
		<ol class="breadcrumb">
			<li><a href="index.html">Home</a></li>
			<li class="active">User Login</li>
		</ol>
	<!-- Breadcrumb Ends -->
	<!-- Main Heading Starts -->
		<h2 class="main-heading text-center">
			Login or create new account
		</h2>
	<!-- Main Heading Ends -->
	<!-- Login Form Section Starts -->
		<section class="login-area">
			<div class="row">
				<div class="col-sm-6">
				<!-- Login Panel Starts -->
					<div class="panel panel-smart">
						<div class="panel-heading">
							<h3 class="panel-title">User Login</h3>
						</div>
						<div class="panel-body">
							<p>
								Please login using your existing account
							</p>
						<!-- Login Form Starts -->
							<%= form_for(resource, as: resource_name, url: session_path(resource_name),  html: { class: "form-inline"}) do |f| %>
								<%= devise_error_messages! %>
								<div class="form-group">
									<%= f.label "Email: ", class: "sr-only" %>
									<%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email", placeholder: "Email" %>
								</div>
								<div class="form-group">
									<%= f.label :password, class: "sr-only" %>
									<%= f.password_field :password,  class: "form-control", autocomplete: "off",  placeholder: "Password"%>
								</div>
								<%= f.submit "Log In", class: "btn btn-black" %>
							<% end %>
						<!-- Login Form Ends -->
						</div>
					</div>
				<!-- Login Panel Ends -->
				</div>
				<div class="col-sm-6">
				<!-- Account Panel Starts -->
					<div class="panel panel-smart">
						<div class="panel-heading">
							<h3 class="panel-title">
								Create New User Account
							</h3>
						</div>
						<div class="panel-body">
							<p>
								Registration allows you to order meals and leave reviews
							</p>
							<%= link_to "User Sign Up", new_user_registration_path, { :class => "btn btn-black" } %>
						</div>
					</div>
				<!-- Account Panel Ends -->
				<!-- Guest Checkout Panel Starts -->
					<div class="panel panel-smart">
						<div class="panel-heading">
							<h3 class="panel-title">
								Want to Start Cooking?
							</h3>
						</div>
						<div class="panel-body">
							<p>
								Sign up as a Cook instead!
							</p>
							<%= link_to "Cook Sign Up", new_cook_registration_path, { :class => "btn btn-black" } %>
						</div>
					</div>
				<!-- Guest Checkout Panel Ends -->
				</div>
			</div>
		</section>
	<!-- Login Form Section Ends -->
	</div>
<!-- Main Container Ends -->
