<div class="table-cooks">
  <% @check_mark = "✓"
     @false = "x" %>

<table class="table table-striped order-cooks">
    <thead>
      <tr>
        <th scope="col" class="text-center">Profile Image</th>
        <th scope="col" class="text-center">Name</th>
        <th scope="col" class="text-center">Email</th>
        <th scope="col" class="text-center">Previous Login</th>
        <th scope="col" class="text-center">Last Login</th>
        <th scope="col" class="text-center">Joined</th>
        <th scope="col" class="text-center">Balance</th>



      </tr>
    </thead>

    <tbody>
      <% @cooks.each do |cook| %>
        <tr>
          <% if cook.profile_image.to_s && cook.profile_image.to_s != "" %>
            <td class="text-center"><%= image_tag cook.profile_image.to_s, size: "50" %></td>
          <% else %>
            <td class="text-center">No Image</td>
          <% end %>
          <td class="text-center"><%= cook.first_name %></td>
          <td class="text-center"><%= cook.email %></td>
          <td class="text-center"><%= cook.last_sign_in_at.strftime(Constants::TIME_FORMAT) %></td>
          <td class="text-center"><%= cook.current_sign_in_at.strftime(Constants::TIME_FORMAT) %></td>
          <td class="text-center"><%= cook.created_at.strftime(Constants::TIME_FORMAT) %></td>
          <% if cook.balance %>
            <td class="text-center">$<%= (cook.balance / 100).round(2) %></td>
          <% else %>
            <td class="text-center">Balance was nil</td>
          <% end %>

      <% end %>
    </tbody>
  </table>

  <br>
</div>
