<h1>Admin Dashboard</h1>
<ul>
  <li><%= link_to 'Meals', admin_meals_path %></li>
  <li><%= link_to 'Orders', admin_orders_path %></li>
  <li><%= link_to 'Users', admin_users_path %></li>
  <li><%= link_to 'Cooks', admin_cooks_path %></li>
  <li><%= link_to 'Payouts', admin_payouts_path %></li>
  <li><%= link_to 'Reviews', admin_reviews_path %></li>
</ul>
