<div class="table-users">
  <% @check_mark = "✓"
     @false = "x" %>

<table class="table table-striped order-meals">
    <thead>
      <tr>
        <th scope="col" class="text-center">Available?</th>
        <th scope="col" class="text-center">Title</th>
        <th scope="col" class="text-center">Description</th>
        <th scope="col" class="text-center">Ingredients</th>
        <th scope="col" class="text-center">Availibility From</th>
        <th scope="col" class="text-center">Availability To</th>
        <th scope="col" class="text-center">Image</th>
        <th scope="col" class="text-center">Cost</th>
        <th scope="col" class="text-center">Portion</th>
        <th scope="col" class="text-center">Location</th>
        <th scope="col" class="text-center">Tags</th>
        <th scope="col" class="text-center">Avg Meal Rating</th>
        <th scope="col" class="text-center">Meal Option(s)</th>
      </tr>
    </thead>

    <tbody>
      <% @meals.each do |meal| %>
        <tr>
          <th scope="row" class="text-center"><%= if meal.active
                    @check_mark
                  else
                    @false
                  end %></th>
          <td class="text-center"><%= meal.title %></td>
          <td class="text-center"><%= if meal.description
                    meal.description.truncate(50)
                  end %></td>
          <td class="text-center"><%= meal.ingredients.truncate(50) %></td>
          <td class="text-center"><%= if meal.availability_from
                    meal.availability_from.strftime(Constants::TIME_FORMAT)
                  end %></td>
          <td class="text-center"><%= if meal.availability_from
                    meal.availability_to.strftime(Constants::TIME_FORMAT)
                  end %></td>
          <td class="text-center"><%= if meal.images.thumb.url
                    image_tag meal.images.thumb.url
                  end %></td>
          <td class="text-center">$<%= if meal.meal_cost
                    "%.2f" % BigDecimal(meal.meal_cost).truncate(2)
                   end %></td>
         <td class="text-center"><%= if meal.portion_info
                   meal.portion_info
                  end %></td>
          <td class="text-center"><%= meal.location %></td>
          <td class="text-center"><%= meal.tags %></td>
          <td class="text-center"><%= meal.reviews.average(:rating) %></td>
          <td class="text-center"><%= link_to 'Select', meal %></td>
      <% end %>
    </tbody>
  </table>

  <br>
</div>
