<p id="notice"><%= notice %></p>
<% @check_mark = "✓"
   @unpaid = "X" %>


   <table class="table table-striped order-meals">
     <thead>
       <tr>
         <th scope="col" class="text-center"># of Meals</th>
         <th scope="col" class="text-center">Total</th>
         <% if cook_signed_in? %>
          <th scope="col" class="text-center">Your Total</th>
          <% end %>
         <th scope="col" class="text-center">Paid</th>
         <th scope="col" class="text-center">Pickup Address</th>
         <th scope="col" class="text-center">Delivery Address</th>
         <th scope="col" class="text-center">Order Date</th>
         <th scope="col" class="text-center">Pickup Date</th>
         <th scope="col" class="text-center">Customer Phone Number</th>
         <th scope="col" class="text-center">Meal</th>
       </tr>
     </thead>
     <tbody>
       <% @orders.each do |order| %>
         <tr data-href= "<%= order %>">
           <th scope="row"><%= order.quantity %></th>
           <td>$<%= if order.total_cost
                     "%.2f" % BigDecimal(order.total_cost).truncate(2)
                    end %></td>


            <td>
              <%= if order.cook_total
                    "%.2f" % BigDecimal(order.cook_total).truncate(2)
                  end %>
            </td>


            <td><%= if order.paid
                       @check_mark
                      else
                       @unpaid
                    end %></td>
           <td><%= order.pickup_address %></td>
           <td><%= order.delivery_address %></td>
           <td><%= order.order_date.strftime(Constants::TIME_FORMAT) %></td>
           <td><%= if order.pickup_date
                     order.pickup_date.strftime(Constants::TIME_FORMAT)
                    end %></td>
           <td><%= order.customer_phone %></td>
           <td><%= order.meal.title %></td>

           <td><%= link_to 'Select', order %></td>
       <% end %>
     </tbody>
   </table>
  <br>
</div>
