<!-- Slider Starts -->
<div id="main-carousel" class="carousel slide carousel-fade" data-ride="carousel">
<!-- Indicators Starts -->
  <ol class="carousel-indicators hidden-sm hidden-xs">
    <li data-target="#main-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#main-carousel" data-slide-to="1"></li>
    <li data-target="#main-carousel" data-slide-to="2"></li>
  </ol>
<!-- Indicators Ends -->
<!-- Wrapper For Slides Starts -->
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag("images/slider-imgs/slide1-img.jpg", class:"img-responsive") %>
    </div>
    <div class="item">
      <%= image_tag("images/slider-imgs/slide2-img.jpg", class:"img-responsive") %>
    </div>
    <div class="item">
      <%= image_tag("images/slider-imgs/slide3-img.jpg", class:"img-responsive") %>
    </div>
  </div>
<!-- Wrapper For Slides Ends -->
<!-- Controls Starts -->
    <a class="left carousel-control" href="#main-carousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#main-carousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  <!-- Controls Ends -->
</div>
<!-- Slider Ends -->
<!-- Main Container Starts -->
<p id="notice"><%= notice %></p>
<div id="main-container" class="container">
<!-- Category Starts -->
  <div class="row"  style="display: none;">
    <div class="col-sm-4 col-xs-12">
      <div class="category-banner-box">
        <%= image_tag("images/banners/category-banner-img-1.jpg", class:"img-responsive img-center") %>
      </div>
    </div>
    <div class="col-sm-4 col-xs-12">
      <div class="category-banner-box">
        <%= image_tag("images/banners/category-banner-img-2.jpg", class:"img-responsive img-center") %>
      </div>
      <div class="category-banner-box">
        <%= image_tag("images/banners/category-banner-img-3.jpg", class:"img-responsive img-center") %>
      </div>
    </div>
    <div class="col-sm-4 col-xs-12">
      <div class="category-banner-box">
        <%= image_tag("images/banners/category-banner-img-4.jpg", class:"img-responsive img-center") %>
      </div>
    </div>
  </div>
<!-- Category Ends -->
<!-- Latest Products Starts -->
  <section class="product-carousel">
  <!-- Heading Starts -->
    <h2 class="product-head text-uppercase">Near <strong>You</strong></h2>
  <!-- Heading Ends -->
  <!-- Products Row Starts -->
    <div class="row">
      <div class="col-xs-12">
      <!-- Product Carousel Starts -->
        <div id="owl-latest-product" class="owl-product-carousel owl-carousel">











        <!-- Demo Product Starts -->
          <div class="item">
            <div class="product-col">
              <div class="image">
                <%= image_tag("images/product-images/1.jpg", class:"img-responsive") %>
              </div>
              <div class="caption">
                <div class="price">
                  <span class="price-new">$5.99</span>
                  <span class="price-old" style="visibility: hidden;">$249.50</span>
                </div>
                <h4><a href="product.html">Healthy Turkey Burger </a></h4>
                <div class="ratings">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <span><a href="#">1 review(s)</a></span>
                </div>
                <span class="availability-info">Available Now!</span><br>
                <a href="#" class="btn btn-block btn-danger btn-color"><span class="glyphicon glyphicon-shopping-cart"></span> Order</a>
                <div class="cart-button button-group">
                  <button type="button" class="btn btn-cart" style="display: none;">
                    <i class="fa fa-shopping-cart"></i>
                  </button>
                  <button type="button" title="Wishlist" class="btn btn-wishlist" style="display: none;">
                    <i class="fa fa-heart"></i>
                  </button>
                  <button type="button" title="Compare" class="btn btn-compare" style="display: none;">
                    <i class="fa fa-bar-chart-o"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        <!-- Demo Product Ends -->


        <!-- Actual Product Starts -->
        <% @meals.each do |meal| %>
        <div class="item">
          <div class="product-col">
            <div class="image">
              <%= if meal.images.thumb.url
                    # image_tag meal.images.thumb.url
                    image_tag(meal.images.home_page.to_s, class:"img-responsive")
                  else
                    image_tag("template/Default_Medium.jpeg", class:"img-responsive")
                  end %>
            </div>
            <div class="caption">
              <div class="price">
                <span class="price-new">$<%= sprintf('%.2f', meal.meal_cost) %></span>
                <span class="price-old" style="visibility: hidden;">$249.50</span>
              </div>
              <h4><%= link_to meal.title.truncate(25), meal %></h4>
              <div class="ratings">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <span><a href="#">1 review(s)</a></span>
              </div>
              <span class="availability-info">
                Cooking starts on <%= if meal.availability_from
                  meal.availability_from.strftime(Constants::TIME_FORMAT)
                end %>
              </span><br>
              <a href="#" class="btn btn-block btn-danger btn-color"><span class="glyphicon glyphicon-shopping-cart"></span> Order</a>
              <div class="cart-button button-group">
                <button type="button" class="btn btn-cart" style="display: none;">
                  <i class="fa fa-shopping-cart"></i>
                </button>
                <button type="button" title="Wishlist" class="btn btn-wishlist" style="display: none;">
                  <i class="fa fa-heart"></i>
                </button>
                <button type="button" title="Compare" class="btn btn-compare" style="display: none;">
                  <i class="fa fa-bar-chart-o"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <% end %>
        <!-- Product #2 Ends -->






        </div>
      <!-- Product Carousel Ends -->
      </div>
    </div>
  <!-- Products Row Ends -->
  </section>
<!-- Latest Products Ends -->
<!-- Two Column Banner Starts -->
  <div class="row">
  <!-- Banner #1 Starts -->
    <div class="col-sm-6 col-xs-12">
      <%= image_tag("images/banners/2col-banner-img1.jpg", class:"img-responsive img-center col2-banners") %>
    </div>
  <!-- Banner #1 Ends -->
  <!-- Banner #2 Starts -->
    <div class="col-sm-6 col-xs-12">
      <%= image_tag("images/banners/2col-banner-img2.jpg", class:"img-responsive img-center col2-banners") %>
    </div>
  <!-- Banner #2 Ends -->
  </div>
<!-- Two Column Banner Ends -->

<!-- Features & Popular Products Starts -->
  <div class="row">
  <!-- Featured Products Starts -->
    <div class="col-md-6 col-xs-12">
    <!-- Featured Products Starts -->
      <section class="product-carousel">
      <!-- Heading Starts -->
        <h2 class="product-head text-uppercase">Family <strong>Meals </strong>(Coming Soon)</h2>
      <!-- Heading Ends -->
      <!-- Products Row Starts -->
        <div class="row">
          <div class="col-xs-12">
          <!-- Product Carousel Starts -->
            <div id="owl-featured-product" class="owl-product-carousel owl-carousel">
            <!-- Product #1 Starts -->
              <div class="item">
                <div class="product-col">
                  <div class="image">
                    <%= image_tag("images/product-images/9.jpg", class:"img-responsive") %>
                  </div>
                  <div class="caption">
                    <div class="price">
                      <span class="price-new">$29.99</span>
                      <span class="price-old" style="visibility: hidden;">$249.50</span>
                    </div>
                    <h4><a href="product.html">Tacos</a></h4>
                    <div class="ratings">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <span><a href="#">20 review(s)</a></span>
                    </div>
                    <span class="availability-info">Cooking starts Soon...</span><br>
                    <a href="#" class="btn btn-block btn-danger">Coming Soon</a>
                    <div class="cart-button button-group">
                      <button type="button" class="btn btn-cart" style="display: none;">
                        <i class="fa fa-shopping-cart"></i>
                      </button>
                      <button type="button" title="Wishlist" class="btn btn-wishlist" style="display: none;">
                        <i class="fa fa-heart"></i>
                      </button>
                      <button type="button" title="Compare" class="btn btn-compare" style="display: none;">
                        <i class="fa fa-bar-chart-o"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            <!-- Product #1 Ends -->
            <!-- Product #2 Starts -->
              <div class="item">
                <div class="product-col">
                  <div class="image">
                    <%= image_tag("images/product-images/10.jpg", class:"img-responsive") %>
                  </div>
                  <div class="caption">
                    <div class="price">
                      <span class="price-new">$35.99</span>
                      <span class="price-old" style="visibility: hidden;">$249.50</span>
                    </div>
                    <h4><a href="product.html">Steak</a></h4>
                    <div class="ratings">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <span><a href="#">12 review(s)</a></span>
                    </div>
                    <span class="availability-info">Cooking starts Soon...</span><br>
                    <a href="#" class="btn btn-block btn-danger">Coming Soon</a>
                    <div class="cart-button button-group">
                      <button type="button" class="btn btn-cart" style="display: none;">
                        <i class="fa fa-shopping-cart"></i>
                      </button>
                      <button type="button" title="Wishlist" class="btn btn-wishlist" style="display: none;">
                        <i class="fa fa-heart"></i>
                      </button>
                      <button type="button" title="Compare" class="btn btn-compare" style="display: none;">
                        <i class="fa fa-bar-chart-o"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            <!-- Product #2 Ends -->
            <!-- Product #3 Starts -->
              <div class="item">
                <div class="product-col">
                  <div class="image">
                    <%= image_tag("images/product-images/11.jpg", class:"img-responsive") %>
                  </div>
                  <div class="caption">
                    <div class="price">
                      <span class="price-new">$24.99</span>
                      <span class="price-old" style="visibility: hidden;">$249.50</span>
                    </div>
                    <h4><a href="product.html">Spaghetti </a></h4>
                    <div class="ratings">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <span><a href="#">1 review(s)</a></span>
                    </div>
                    <span class="availability-info">Cooking starts Soon...</span><br>
                    <a href="#" class="btn btn-block btn-danger">Coming Soon</a>
                    <div class="cart-button button-group">
                      <button type="button" class="btn btn-cart" style="display: none;">
                        <i class="fa fa-shopping-cart"></i>
                      </button>
                      <button type="button" title="Wishlist" class="btn btn-wishlist" style="display: none;">
                        <i class="fa fa-heart"></i>
                      </button>
                      <button type="button" title="Compare" class="btn btn-compare" style="display: none;">
                        <i class="fa fa-bar-chart-o"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            <!-- Product #3 Ends -->
            <!-- Product #4 Starts -->
              <div class="item">
                <div class="product-col">
                  <div class="image">
                    <%= image_tag("images/product-images/12.jpg", class:"img-responsive") %>
                  </div>
                  <div class="caption">
                    <div class="price">
                      <span class="price-new">$19.99</span>
                      <span class="price-old" style="visibility: hidden;">$249.50</span>
                    </div>
                    <h4><a href="product.html">Mongolian Grill Mix </a></h4>
                    <div class="ratings">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <span><a href="#">100 review(s)</a></span>
                    </div>
                    <span class="availability-info">Cooking starts Soon...</span><br>
                    <a href="#" class="btn btn-block btn-danger">Coming Soon</a>
                    <div class="cart-button button-group">
                      <button type="button" class="btn btn-cart" style="display: none;">
                        <i class="fa fa-shopping-cart"></i>
                      </button>
                      <button type="button" title="Wishlist" class="btn btn-wishlist" style="display: none;">
                        <i class="fa fa-heart"></i>
                      </button>
                      <button type="button" title="Compare" class="btn btn-compare" style="display: none;">
                        <i class="fa fa-bar-chart-o"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            <!-- Product #4 Ends -->
            </div>
          <!-- Product Carousel Ends -->
          </div>
        </div>
      <!-- Products Row Ends -->
      </section>
    <!-- Featured Products Ends -->
    </div>
  <!-- Featured Products Ends -->

  <!-- Popular Products Starts -->
    <div class="col-md-6 col-xs-12">
      <section class="products-list">
      <!-- Heading Starts -->
        <h2 class="product-head text-uppercase">Weekly <strong>Meals </strong>(Coming Soon)</h2>
      <!-- Heading Ends -->
      <!-- Products Row Starts -->
        <div class="row">
        <!-- Product #1 Starts -->
          <div class="col-sm-6 col-xs-12">
            <div class="product-col alt">
              <div class="image">
                <%= image_tag("images/product-images/11.jpg", class:"img-responsive") %>
              </div>
              <div class="caption">
                <div class="price">
                  <span class="price-new">$64.99</span>
                  <span class="price-old" style="visibility: hidden;">$249.50</span>
                </div>
                <h4><a href="product.html">Spaghetti </a></h4>
                <div class="ratings">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <span><a href="#">1 review(s)</a></span>
                </div>
                <span class="availability-info">Cooking starts Soon...</span><br>
                <a href="#" class="btn btn-block btn-danger">Coming Soon</a>
                <div class="cart-button button-group">
                  <button type="button" class="btn btn-cart" style="display: none;">
                    <i class="fa fa-shopping-cart"></i>
                  </button>
                  <button type="button" title="Wishlist" class="btn btn-wishlist" style="display: none;">
                    <i class="fa fa-heart"></i>
                  </button>
                  <button type="button" title="Compare" class="btn btn-compare" style="display: none;">
                    <i class="fa fa-bar-chart-o"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        <!-- Product #1 Ends -->
        <!-- Product #2 Starts -->
          <div class="col-sm-6 col-xs-12">
            <div class="product-col alt">
              <div class="image">
                <%= image_tag("images/product-images/12.jpg", class:"img-responsive") %>
              </div>
              <div class="caption">
                <div class="price">
                  <span class="price-new">$49.99</span>
                  <span class="price-old" style="visibility: hidden;">$249.50</span>
                </div>
                <h4><a href="product.html">Mongolian Grill Mix </a></h4>
                <div class="ratings">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <span><a href="#">100 review(s)</a></span>
                </div>
                <span class="availability-info">Cooking starts Soon...</span><br>
                <a href="#" class="btn btn-block btn-danger">Coming Soon</a>
                <div class="cart-button button-group">
                  <button type="button" class="btn btn-cart" style="display: none;">
                    <i class="fa fa-shopping-cart"></i>
                  </button>
                  <button type="button" title="Wishlist" class="btn btn-wishlist" style="display: none;">
                    <i class="fa fa-heart"></i>
                  </button>
                  <button type="button" title="Compare" class="btn btn-compare" style="display: none;">
                    <i class="fa fa-bar-chart-o"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        <!-- Product #2 Ends -->
        </div>
      <!-- Products Row Ends -->
      </section>
    </div>
  <!-- Popular Products Ends -->
  </div>
<!-- Features & Popular Products Ends -->

<!-- Top Chefs Starts -->
  <section class="products-list">
  <!-- Heading Starts -->
    <h2 class="product-head text-uppercase">Our Top <strong>Chefs</strong></h2>
  <!-- Heading Ends -->
  <!-- Nested Row Starts -->
    <div class="row featured-chefs">
    <!-- Chef #1 Starts -->
      <div class="col-xs-2">
        <%= image_tag("images/brands/profile_1.jpg", class:"img-responsive img-center") %>
      </div>
    <!-- Chef #1 Ends -->
    <!-- Chef #2 Starts -->
      <div class="col-xs-2">
        <%= image_tag("images/brands/profile_2.jpg", class:"img-responsive img-center") %>
      </div>
    <!-- Chef #2 Ends -->
    <!-- Chef #3 Starts -->
      <div class="col-xs-2">
        <%= image_tag("images/brands/profile_3.jpg", class:"img-responsive img-center") %>
      </div>
    <!-- Chef #3 Ends -->
    <!-- Chef #4 Starts -->
      <div class="col-xs-2">
        <%= image_tag("images/brands/profile_4.jpg", class:"img-responsive img-center") %>
      </div>
    <!-- Chef #4 Ends -->
    <!-- Chef #5 Starts -->
      <div class="col-xs-2">
        <%= image_tag("images/brands/profile_5.jpg", class:"img-responsive img-center") %>
      </div>
    <!-- Chef #5 Ends -->
    <!-- Chef #6 Starts -->
      <div class="col-xs-2">
        <%= image_tag("images/brands/profile_6.jpg", class:"img-responsive img-center") %>
      </div>
    <!-- Chef #6 Ends -->
    </div>
  <!-- Nested Row Ends -->
  </section>
<!-- Top Chefs Ends -->
</div>
<!-- Main Container Ends -->
