<!-- Slider Starts -->
<div id="main-carousel" class="carousel slide carousel-fade" data-ride="carousel">
<!-- Indicators Starts -->
  <ol class="carousel-indicators hidden-sm hidden-xs">
    <li data-target="#main-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#main-carousel" data-slide-to="1"></li>
    <li data-target="#main-carousel" data-slide-to="2"></li>
  </ol>
<!-- Indicators Ends -->
<!-- Wrapper For Slides Starts -->
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag("images/slider-imgs/slide1-img.jpg", class:"img-responsive") %>
    </div>
    <div class="item">
      <%= image_tag("images/slider-imgs/slide2-img.jpg", class:"img-responsive") %>
    </div>
    <div class="item">
      <%= image_tag("images/slider-imgs/slide3-img.jpg", class:"img-responsive") %>
    </div>
  </div>
<!-- Wrapper For Slides Ends -->
<!-- Controls Starts -->
    <a class="left carousel-control" href="#main-carousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#main-carousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  <!-- Controls Ends -->
</div>
<!-- Slider Ends -->

<!-- Main Container Starts -->
<div id="main-container" class="container">
<!-- Category Starts HIDDEN -->
  <div class="row"  style="display: none;">
    <div class="col-sm-4 col-xs-12">
      <div class="category-banner-box">
        <%= image_tag("images/banners/category-banner-img-1.jpg", class:"img-responsive img-center") %>
      </div>
    </div>
    <div class="col-sm-4 col-xs-12">
      <div class="category-banner-box">
        <%= image_tag("images/banners/category-banner-img-2.jpg", class:"img-responsive img-center") %>
      </div>
      <div class="category-banner-box">
        <%= image_tag("images/banners/category-banner-img-3.jpg", class:"img-responsive img-center") %>
      </div>
    </div>
    <div class="col-sm-4 col-xs-12">
      <div class="category-banner-box">
        <%= image_tag("images/banners/category-banner-img-4.jpg", class:"img-responsive img-center") %>
      </div>
    </div>
  </div>
<!-- Category Ends HIDDEN -->
<!-- Near You Meals Starts -->
  <section class="product-carousel">
  <!-- Heading Starts -->
    <h2 class="product-head text-uppercase">Near <strong>You</strong></h2>
  <!-- Heading Ends -->
  <!-- Products Row Starts -->
    <div class="row">
      <div class="col-xs-12">
        <!-- Product Carousel Starts -->
        <div id="owl-latest-product" class="owl-product-carousel owl-carousel">
        <!-- Products Starts -->
          <% @meals.each do |meal| %>
            <div class="item">
              <div class="product-col">
                <div class="image">
                  <%= link_to meal do  %>
                  <%= if meal.images.thumb.url
                        # image_tag meal.images.thumb.url
                        image_tag(meal.images.home_page.to_s, class:"img-responsive")
                      else
                        image_tag("images/Default_Medium.jpeg", class:"img-responsive")
                      end %>
                  <% end %>
                </div>
                <div class="caption">
                  <div class="price">
                    <span class="price-new">$<%= sprintf('%.2f', meal.meal_cost) %></span><br>
                    + <span class="price-delivery">$5.00 (Delivery Fee) or </span><span class="price-green">Free Pickup</span>
                    <!-- <span class="price-old" style="visibility: hidden;">$249.50</span> -->
                  </div>
                  <h4><%= link_to meal.title.truncate(25), meal %></h4>
                    <div class="star-ratings-css-meal">
                      <div class="star-ratings-css-top-meal" style="width:<%= meal.reviews.average(:rating).to_f * 20 %>%"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                      <div class="star-ratings-css-bottom"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                    </div>
                    <% if meal.reviews.count > 0 %>
                      <span class="rating-count"><%= meal.reviews.count %> review(s)</span>
                    <% else %>
                      <span class="rating-count">No Reviews Yet</span>
                      <% end %>
                  <span class="availability-info">
                    <% if meal.availability_from < Time.current && meal.availability_to > Time.current %>
                      Available Now!
                    <% else %>
                      Cooking starts on <%= if meal.availability_from
                        meal.availability_from.strftime(Constants::TIME_FORMAT)
                      end %>
                    <% end %>
                  </span><br>
                  <%= if user_signed_in?
                        button_to 'Order', {:controller => "orders", :action => "new"}, :method => :get, :class => "btn btn-block btn-danger btn-color", params: { mealID: meal.id}
                       else
                         link_to "Sign in to Order", new_user_session_path, { :class => "btn btn-black" }
                       end %>
                  <div class="cart-button button-group">
                    <button type="button" class="btn btn-cart" style="display: none;">
                      <i class="fa fa-shopping-cart"></i>
                    </button>
                    <button type="button" title="Wishlist" class="btn btn-wishlist" style="display: none;">
                      <i class="fa fa-heart"></i>
                    </button>
                    <button type="button" title="Compare" class="btn btn-compare" style="display: none;">
                      <i class="fa fa-bar-chart-o"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <!-- Products Ends -->
        </div>
      <!-- Product Carousel Ends -->
      </div>
    </div>
  <!-- Products Row Ends -->
  </section>
<!-- Near You Meals Ends -->

<!-- Two Column Banner Starts -->
  <div class="row">
  <!-- Banner #1 Starts -->
    <div class="col-sm-6 col-xs-12">
      <%= image_tag("images/home_cooked_1_lean.jpg", class:"img-responsive img-center col2-banners") %>
    </div>
  <!-- Banner #1 Ends -->
  <!-- Banner #2 Starts -->
    <div class="col-sm-6 col-xs-12">
      <%= image_tag("images/home_cooked_2_lean.jpg", class:"img-responsive img-center col2-banners") %>
    </div>
  <!-- Banner #2 Ends -->
  </div>
<!-- Two Column Banner Ends -->

<!-- Family & Low Carb Meals Starts -->
  <div class="row">
  <!-- Family Meals Starts -->
    <div class="col-md-6 col-xs-12">
    <!-- Family Meals Section Starts -->
      <section class="product-carousel" >
      <!-- Heading Starts -->
        <h2 class="product-head text-uppercase">Family <strong>Deal </strong>(Enough for 5)</h2>
      <!-- Heading Ends -->
      <!-- Products Row Starts -->
        <div class="row">
          <div class="col-xs-12">
          <!-- Product Carousel Starts -->
            <div id="owl-family-product" class="owl-product-carousel owl-carousel">
              <!-- Meals Starts -->
              <% @family_meals.each do |meal| %>
                <div class="item">
                  <div class="product-col">
                    <div class="image">
                      <%= link_to meal do  %>
                      <%= if meal.images.thumb.url
                            # image_tag meal.images.thumb.url
                            image_tag(meal.images.home_page.to_s, class:"img-responsive")
                          else
                            image_tag("images/Default_Medium.jpeg", class:"img-responsive")
                          end %>
                      <% end %>
                    </div>
                    <div class="caption">
                      <div class="price">
                        <span class="price-new">$<%= sprintf('%.2f', meal.meal_cost) %></span>
                        <span class="price-old" style="visibility: hidden;">$249.50</span>
                      </div>
                      <h4><%= link_to meal.title.truncate(25), meal %></h4>
                        <div class="star-ratings-css-meal">
                          <div class="star-ratings-css-top-meal" style="width:<%= meal.reviews.average(:rating).to_f * 20 %>%"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                          <div class="star-ratings-css-bottom"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                        </div>
                        <% if meal.reviews.count > 0 %>
                          <span class="rating-count"><%= meal.reviews.count %> review(s)</span>
                        <% else %>
                          <span class="rating-count">No Reviews Yet</span>
                          <% end %>
                      <span class="availability-info">
                        <% if meal.availability_from < Time.current && meal.availability_to > Time.current %>
                          Available Now!
                        <% else %>
                          Cooking starts on <%= if meal.availability_from
                            meal.availability_from.strftime(Constants::TIME_FORMAT)
                          end %>
                        <% end %>
                      </span><br>
                      <%= if user_signed_in?
                            button_to 'Order', {:controller => "orders", :action => "new"}, :method => :get, :class => "btn btn-block btn-danger btn-color", params: { mealID: meal.id}
                           else
                             link_to "Sign in to Order", new_user_session_path, { :class => "btn btn-black" }
                           end %>
                      <div class="cart-button button-group">
                        <button type="button" class="btn btn-cart" style="display: none;">
                          <i class="fa fa-shopping-cart"></i>
                        </button>
                        <button type="button" title="Wishlist" class="btn btn-wishlist" style="display: none;">
                          <i class="fa fa-heart"></i>
                        </button>
                        <button type="button" title="Compare" class="btn btn-compare" style="display: none;">
                          <i class="fa fa-bar-chart-o"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
              <!-- Meals Ends -->
              <!-- Demo Product #1 Starts -->
              <div class="item">
                <div class="product-col">
                  <div class="image">
                    <%= image_tag("images/King_Ranch_Mac_and_Cheese.jpg", class:"img-responsive") %>
                  </div>
                  <div class="caption">
                    <div class="price">
                      <span class="price-new">$35.99</span>
                      <span class="price-old" style="visibility: hidden;">$249.50</span>
                    </div>
                    <h4>King Ranch Mac & Cheese</h4>
                    <div class="star-ratings-css-meal">
                      <div class="star-ratings-css-top-meal" style="width:90%"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                      <div class="star-ratings-css-bottom"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                    </div>
                    <span class="rating-count">129 review(s)</span>
                    <span class="availability-info">Cooking starts Soon...</span><br>
                    <span class="btn btn-block btn-danger">Coming Soon</span>
                    <div class="cart-button button-group">
                      <button type="button" class="btn btn-cart" style="display: none;">
                        <i class="fa fa-shopping-cart"></i>
                      </button>
                      <button type="button" title="Wishlist" class="btn btn-wishlist" style="display: none;">
                        <i class="fa fa-heart"></i>
                      </button>
                      <button type="button" title="Compare" class="btn btn-compare" style="display: none;">
                        <i class="fa fa-bar-chart-o"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Product #1 Ends -->
              <!-- Product #2 Starts -->
              <div class="item">
                <div class="product-col">
                  <div class="image">
                    <%= image_tag("images/fried-green-tomatoes-with-red-pepper-sauce.jpg", class:"img-responsive") %>
                  </div>
                  <div class="caption">
                    <div class="price">
                      <span class="price-new">$24.99</span>
                      <span class="price-old" style="visibility: hidden;">$249.50</span>
                    </div>
                    <h4>Fried Green Tomatoes with Red Pepper Sauce </h4>
                    <div class="star-ratings-css-meal">
                      <div class="star-ratings-css-top-meal" style="width:100%"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                      <div class="star-ratings-css-bottom"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                    </div>
                    <span class="rating-count">1 review(s)</span>
                    <span class="availability-info">Cooking starts Soon...</span><br>
                    <span class="btn btn-block btn-danger">Coming Soon</span>
                    <div class="cart-button button-group">
                      <button type="button" class="btn btn-cart" style="display: none;">
                        <i class="fa fa-shopping-cart"></i>
                      </button>
                      <button type="button" title="Wishlist" class="btn btn-wishlist" style="display: none;">
                        <i class="fa fa-heart"></i>
                      </button>
                      <button type="button" title="Compare" class="btn btn-compare" style="display: none;">
                        <i class="fa fa-bar-chart-o"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            <!-- Product #2 Ends -->
            <!-- Product #3 Starts -->
              <div class="item">
                <div class="product-col">
                  <div class="image">
                    <%= image_tag("images/Wild-Rice-and-Chicken-Casserole.jpg", class:"img-responsive") %>
                  </div>
                  <div class="caption">
                    <div class="price">
                      <span class="price-new">$19.99</span>
                      <span class="price-old" style="visibility: hidden;">$249.50</span>
                    </div>
                    <h4>Wild Rice and Chicken Casserole</h4>
                    <div class="star-ratings-css-meal">
                      <div class="star-ratings-css-top-meal" style="width:95%"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                      <div class="star-ratings-css-bottom"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                    </div>
                    <span class="rating-count">62 review(s)</span>
                    <span class="availability-info">Cooking starts Soon...</span><br>
                    <span class="btn btn-block btn-danger">Coming Soon</span>
                    <div class="cart-button button-group">
                      <button type="button" class="btn btn-cart" style="display: none;">
                        <i class="fa fa-shopping-cart"></i>
                      </button>
                      <button type="button" title="Wishlist" class="btn btn-wishlist" style="display: none;">
                        <i class="fa fa-heart"></i>
                      </button>
                      <button type="button" title="Compare" class="btn btn-compare" style="display: none;">
                        <i class="fa fa-bar-chart-o"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            <!-- Product #3 Ends -->
            </div>
          <!-- Product Carousel Ends -->
          </div>
        </div>
      <!-- Products Row Ends -->
      </section>
    <!-- Family Meals Section Ends -->
    </div>
  <!-- Family Meals Ends -->

  <!-- Low Carb Meals Starts -->
    <div class="col-md-6 col-xs-12">
    <!-- Featured Products Starts -->
      <section class="product-carousel" >
      <!-- Heading Starts -->
        <h2 class="product-head text-uppercase">Low <strong>Carb </strong>(Eat Healthy)</h2>
      <!-- Heading Ends -->
      <!-- Products Row Starts -->
        <div class="row">
          <div class="col-xs-12">
          <!-- Meals Starts -->
            <div id="owl-carb-product" class="owl-product-carousel owl-carousel">
              <% @low_carb_meals.each do |meal| %>
                <div class="item">
                  <div class="product-col">
                    <div class="image">
                      <%= link_to meal do  %>
                      <%= if meal.images.thumb.url
                            # image_tag meal.images.thumb.url
                            image_tag(meal.images.home_page.to_s, class:"img-responsive")
                          else
                            image_tag("images/Default_Medium.jpeg", class:"img-responsive")
                          end %>
                      <% end %>
                    </div>
                    <div class="caption">
                      <div class="price">
                        <span class="price-new">$<%= sprintf('%.2f', meal.meal_cost) %></span>
                        <span class="price-old" style="visibility: hidden;">$249.50</span>
                      </div>
                      <h4><%= link_to meal.title.truncate(25), meal %></h4>
                        <div class="star-ratings-css-meal">
                          <div class="star-ratings-css-top-meal" style="width:<%= meal.reviews.average(:rating).to_f * 20 %>%"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                          <div class="star-ratings-css-bottom"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                        </div>
                        <% if meal.reviews.count > 0 %>
                          <span class="rating-count"><%= meal.reviews.count %> review(s)</span>
                        <% else %>
                          <span class="rating-count">No Reviews Yet</span>
                          <% end %>
                      <span class="availability-info">
                        <% if meal.availability_from < Time.current && meal.availability_to > Time.current %>
                          Available Now!
                        <% else %>
                          Cooking starts on <%= if meal.availability_from
                            meal.availability_from.strftime(Constants::TIME_FORMAT)
                          end %>
                        <% end %>
                      </span><br>
                      <%= if user_signed_in?
                            button_to 'Order', {:controller => "orders", :action => "new"}, :method => :get, :class => "btn btn-block btn-danger btn-color", params: { mealID: meal.id}
                           else
                             link_to "Sign in to Order", new_user_session_path, { :class => "btn btn-black" }
                           end %>
                      <div class="cart-button button-group">
                        <button type="button" class="btn btn-cart" style="display: none;">
                          <i class="fa fa-shopping-cart"></i>
                        </button>
                        <button type="button" title="Wishlist" class="btn btn-wishlist" style="display: none;">
                          <i class="fa fa-heart"></i>
                        </button>
                        <button type="button" title="Compare" class="btn btn-compare" style="display: none;">
                          <i class="fa fa-bar-chart-o"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
              <!-- Meals End -->
              <!-- Demo Meal #1 Starts -->
              <div class="item">
                <div class="product-col">
                    <div class="image">
                      <%= image_tag("images/Philly_Cheese_Steak_Bowl.jpg", class:"img-responsive") %>
                    </div>
                    <div class="caption">
                      <div class="price">
                        <span class="price-new">$9.99</span>
                        <span class="price-old" style="visibility: hidden;">$249.50</span>
                      </div>
                      <h4>Philly Cheesesteak Bowl </h4>
                      <div class="star-ratings-css-meal">
                        <div class="star-ratings-css-top-meal" style="width:88%"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                        <div class="star-ratings-css-bottom"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                      </div>
                      <span class="rating-count">43 review(s)</span>
                      <span class="availability-info">Cooking starts Soon...</span><br>
                      <span class="btn btn-block btn-danger">Coming Soon</span>
                      <div class="cart-button button-group">
                        <button type="button" class="btn btn-cart" style="display: none;">
                          <i class="fa fa-shopping-cart"></i>
                        </button>
                        <button type="button" title="Wishlist" class="btn btn-wishlist" style="display: none;">
                          <i class="fa fa-heart"></i>
                        </button>
                        <button type="button" title="Compare" class="btn btn-compare" style="display: none;">
                          <i class="fa fa-bar-chart-o"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              <!-- Demo Meal #1 Ends -->
              <!-- Demo Meal #2 Starts -->
              <div class="item">
                <div class="product-col">
                    <div class="image">
                      <%= image_tag("images/Pesto_Chicken.jpg", class:"img-responsive") %>
                    </div>
                    <div class="caption">
                      <div class="price">
                        <span class="price-new">$12.99</span>
                        <span class="price-old" style="visibility: hidden;">$249.50</span>
                      </div>
                      <h4>Pesto Chicken</h4>
                      <div class="star-ratings-css-meal">
                        <div class="star-ratings-css-top-meal" style="width:93%"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                        <div class="star-ratings-css-bottom"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                      </div>
                      <span class="rating-count">3 review(s)</span>
                      <span class="availability-info">Cooking starts Soon...</span><br>
                      <span class="btn btn-block btn-danger">Coming Soon</span>
                      <div class="cart-button button-group">
                        <button type="button" class="btn btn-cart" style="display: none;">
                          <i class="fa fa-shopping-cart"></i>
                        </button>
                        <button type="button" title="Wishlist" class="btn btn-wishlist" style="display: none;">
                          <i class="fa fa-heart"></i>
                        </button>
                        <button type="button" title="Compare" class="btn btn-compare" style="display: none;">
                          <i class="fa fa-bar-chart-o"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              <!-- Demo Meal #2 Ends -->
            </div>
          <!-- Product Carousel Ends -->
          </div>
        </div>
      <!-- Products Row Ends -->
      </section>
    <!-- Low Carb Products Section Ends -->
    </div>
  <!-- Low Carb Products Ends -->

  </div>
<!-- Family & Low Carb Meals Ends -->

<!-- Top Chefs Starts -->
  <section class="products-list">
  <!-- Heading Starts -->
    <h2 class="product-head text-uppercase">Our Top <strong>Chefs</strong></h2>
  <!-- Heading Ends -->
  <!-- Nested Row Starts -->
    <div class="row featured-chefs">

    <!-- Chef List Starts -->
    <% @chefs.each do |cook| %>
      <% if cook.profile_image.to_s != "" %>
        <div class="col-xs-2">
          <%= image_tag(cook.profile_image.to_s, size: "200", class: "img-responsive img-center") %>
          <div class="cook-name-review"><%= cook.first_name %></div>
            <% if cook.reviews.count > 0 %>
            <div class="star-ratings-css-cook">
              <div class="star-ratings-css-top-cook" style="width:<%= cook.reviews.average(:rating).to_f * 20 %>%"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
              <div class="star-ratings-css-bottom"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
            </div>
            <% else %>
            <div class="cook-name-review">
               <span class="no-reviews">New Member</span>
             </div>
            <% end %>

        </div>
      <% end %>
    <% end %>
    <!-- Chef List Ends -->
    </div>
  <!-- Nested Row Ends -->
  </section>
<!-- Top Chefs Ends -->

</div>
<!-- Main Container Ends -->
