<!-- Main Container Starts -->
	<div id="main-container" class="container">
	<!-- Breadcrumb Starts -->
		<ol class="breadcrumb">
			<li><%= link_to "Home", root_path  %></li>
      <li><%= controller_name %></li>
      <li class="active"><%= params[:action] %></li>
		</ol>
	<!-- Breadcrumb Ends -->
	<!-- Main Heading Starts -->
		<h2 class="main-heading text-center">
			Order Details
		</h2>
	<!-- Main Heading Ends -->
  <!-- Rails Form Starts -->
  <%= form_with(model: order, local: true) do |form| %>
      <% if order.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>
          <ul>
          <% order.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
	<!-- Shopping Cart Table Starts -->
		<div class="table-responsive shopping-cart-table">
			<table class="table table-bordered">
				<thead>
					<tr>
						<td class="text-center">
							Image
						</td>
						<td class="text-center">
							Product Details
						</td>
						<td class="text-center">
							Quantity
						</td>
						<td class="text-center">
							Price
						</td>
						<td class="text-center">
							Total
						</td>
						<td class="text-center">
							Change Quantity
						</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="text-center">
              <%= link_to @meal do %>
                <!--  TODO Review -->
                <%= if @meal.images.to_s != ""
                      image_tag(@meal.images.thumb.url, class: "img-fluid")
                    else
                      image_tag("images/Default_Medium.jpeg", size: "50x50", class: "img-fluid")
                     end %>
              <% end %>
						</td>
						<td class="text-center">
              <!--  TODO Review -->
              <%= link_to @meal do %>
                <%= @meal.title %>
              <% end %>
						</td>
						<td class="text-center">
              <div class="input-group btn-block">
								<% if @order.quantity && @order.quantity > 1 %>
									<%= form.number_field :quantity, id: :order_quantity, :required => true , class: "form-control", readonly: true%>
								<% else %>
                	<%= form.number_field :quantity, value: "1", id: :order_quantity, :required => true , class: "form-control", readonly: true%>
								<% end %>
              </div>
						</td>
						<td class="text-center">
							$<%= @meal.meal_cost %>
						</td>
						<td class="text-center">
              <span id="meal_price_hidden" style="display:none"><%= @price %></span>
              $<span id="total" class="sub_total"></span>
            </td>
						<td class="text-center">
							<button type="button" id="increment_qty" title="increase" class="btn btn-default tool-tip">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
							<button type="button" id="decrement_qty" title="decrease" class="btn btn-default tool-tip">
								<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
							</button>
						</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
					  <td colspan="4" class="text-right">
						<strong>Total :</strong>
					  </td>
					  <td colspan="2" class="text-left">
						$<span class="sub_total"></span>
					  </td>
					</tr>
				</tfoot>
			</table>
		</div>
	<!-- Shopping Cart Table Ends -->
	<!-- Shipping Section Starts -->
		<section class="registration-area">
			<div class="row">
			<!-- Shipping & Shipment Block Starts -->
				<div class="col-sm-6">
				<!-- Taxes Block Starts -->
					<div class="panel panel-smart">
						<div class="panel-heading">
							<h3 class="panel-title">
								Delivery / Pickup (Please Select One)
							</h3>
						</div>
						<div class="panel-body">
						<!-- Form Div Starts -->
							<div class="form-horizontal" role="form">
								<div class="form-group">
									<div class="col-sm-9">
										<%= select_tag(:inputPickupDelivery, options_for_select([['- Select One -', 'No_Selection'],['Delivery', 'Delivery'], ['Pickup', 'Pickup']]), class: "form-control") %>
									</div>
								</div>
							</div>
						<!-- Form Div Ends -->
						</div>
					</div>
				<!-- Taxes Block Ends -->
				<!-- Delivery Information Block Starts -->
					<div class="panel panel-smart" id="delivery-panel">
						<div class="panel-heading">
							<h3 class="panel-title">
								Delivery Address
							</h3>
						</div>
						<div class="panel-body">
						<!-- Form Div Starts -->
  							<div class="form-horizontal" role="form">
								<div class="form-group">
									<label for="inputFname" class="col-sm-3 control-label">Address :</label>
									<div class="col-sm-9">
										<!-- <%= form.text_field :address_name, id: :order_address_name, :required => true, class: "form-control", placeholder: "Your Name" %>
										<%= form.text_field :address_street, id: :order_address_street, :required => true, class: "form-control", placeholder: "Building Number and Street" %>
										<%= form.text_field :address_city, id: :order_address_city, :required => true, class: "form-control", placeholder: "City" %>
										<%= form.text_field :address_state, id: :order_address_state, :required => true, class: "form-control", placeholder: "State" %>
										<%= form.text_field :address_zip, id: :order_address_zip, :required => true, class: "form-control", placeholder: "Zip Code" %> <br /> -->
                    <%= form.text_area :delivery_address, id: :order_delivery_address, :required => true, class: "form-control", placeholder: "Your Name, Street, City, State Zip" %>
									</div>
								</div>
							</div>
						<!-- Form Div Ends -->
						</div>
					</div>
				<!-- Delivery Information Block Ends -->
        <!-- Pickup Address Information Block Starts -->
					<div class="panel panel-smart" id="delivery-panel">
						<div class="panel-heading">
							<h3 class="panel-title">
								Pickup Address
							</h3>
						</div>
						<div class="panel-body">
						<!-- Form Div Starts -->
							<div class="form-horizontal" role="form">
								<div class="form-group">
									<label for="inputFname" class="col-sm-3 control-label">Address :</label>
									<div class="col-sm-9">
                    <!-- <%= form.text_area :delivery_address, id: :order_delivery_address, class: "form-control", placeholder: "Street City, State Zip" %> -->
									</div>
								</div>
							</div>
						<!-- Form Div Ends -->
						</div>
					</div>
				<!-- Pickup Address Block Ends -->
				<!-- Order Information Block Starts -->
					<div class="panel panel-smart">
						<div class="panel-heading">
							<h3 class="panel-title">
								Order Info
							</h3>
						</div>
						<div class="panel-body">
						<!-- Form Div Starts -->
							<div class="form-horizontal" role="form">
								<div class="form-group">
									<label for="inputFname" class="col-sm-3 control-label">Phone Number :</label>
									<div class="col-sm-9">
                    <%= form.text_field :customer_phone, id: :order_customer_phone, class: "form-control", placeholder: "Phone Number" %>
									</div>
								</div>
							</div>
						<!-- Form Div Ends -->
						<!-- Form Div Starts -->
							<div class="form-horizontal" role="form">
								<div class="form-group">
									<label for="inputFname" class="col-sm-3 control-label">Pickup/Delivery:</label>
									<div class="col-sm-9">
                    <% if @order.pickup_date %>
                      <input type="text" name="order[pickup_date]" id="datetime" value="<%= @pickup_date_formatted %>" required="true"/>
                    <% else %>
                      <input type="text" name="order[pickup_date]" id="datetime" required="true" placeholder="Select Date and Time"/>
                    <% end %>
                        <div id="hidden-time">
                            <input type="text" id="date"/>
                            <input type="text" id="time"/>
                        </div>
                    <div id="outlet"></div>
										<span class="availability-info">
											 <% if @meal.availability_from %>
												Available from
			                  <b><%= @meal.availability_from.strftime(Constants::TIME_FORMAT) %></b>
			                <% end %>
											<br />
											<% if @meal.availability_to %>
											 Available to
											 <b><%= @meal.availability_to.strftime(Constants::TIME_FORMAT) %></b>
										 <% end %>
			              </span>
									</div>
								</div>
							</div>
						<!-- Form Div Ends -->
						</div>
					</div>
				<!-- Order Information Block Ends -->
				</div>
			<!-- Shipping & Shipment Block Ends -->
			<!-- Discount & Conditions Blocks Starts -->
				<div class="col-sm-6">
				<!-- Discount Coupon Block Starts -->
					<div class="panel panel-smart">
						<div class="panel-heading">
							<h3 class="panel-title">
								Discount Coupon Code
							</h3>
						</div>
						<div class="panel-body">
						<!-- Form Div Starts -->
							<div class="form-horizontal" role="form">
								<div class="form-group">
									<label for="inputCouponCode" class="col-sm-3 control-label">Coupon Code :</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" id="inputCouponCode" placeholder="Coupon Code">
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-offset-3 col-sm-9">
										<button type="button" class="btn btn-default">
											Apply Coupon
										</button>
									</div>
								</div>
							</div>
						<!-- Form Div Ends -->
						</div>
					</div>
				<!-- Discount Coupon Block Ends -->
				<!-- Conditions Panel Starts -->
					<div class="panel panel-smart">
						<div class="panel-heading">
							<h3 class="panel-title">
								Notice
							</h3>
						</div>
						<div class="panel-body">
							<p>
								For Deliveries:<br />
								Please make sure to provide a phone number.
							</p>
						</div>
					</div>
				<!-- Conditions Panel Ends -->
				<!-- Total Panel Starts -->
					<div class="panel panel-smart">
						<div class="panel-heading">
							<h3 class="panel-title">
								Total
							</h3>
						</div>
						<div class="panel-body">
							<dl class="dl-horizontal">
								<dt>Subtotal :</dt>
								<dd>$<span id="sub_total" class="sub_total"></span></dd>
								<dt>Coupon Discount :</dt>
								<dd>$0.00</dd>
								<dt>Delivery Fee :</dt>
								<dd>$0.00</dd>
								<dt>Taxes :</dt>
								<dd>$<span id="tax_amount"></span></dd>
							</dl>
							<hr />
							<dl class="dl-horizontal total">
								<dt>Total :</dt>
								<dd>$<span id="total_amount"></span></dd>
							</dl>
							<hr />
              <div class="field" id="hidden">
                <%= form.label :meal_id %><br />
                <%= form.text_field :meal_id, id: :order_meal_id %>
              </div>
							<div class="text-uppercase clearfix">
								<!-- <a href="#" class="btn btn-default pull-right"> -->
                  <%= form.submit "Place Order", id: "order_submit", class: "btn btn-default pull-right" %>
								<!-- </a> -->
							</div>
						</div>
					</div>
				<!-- Total Panel Ends -->
				</div>
			<!-- Discount & Conditions Blocks Ends -->
			</div>
		</section>
	<!-- Shipping Section Ends -->
	<% end %>
	<!-- Rails Form Ends -->
	</div>
<!-- Main Container Ends -->


<%= javascript_include_tag "pickadate/form_datepicker" %>
<%= javascript_include_tag "form_helper_functions" %>
