						<!-- Form Div Starts -->
  							<div class="form-horizontal" role="form">
								<div class="form-group">
									<label for="inputFname" class="col-sm-3 control-label">Number of Meals :</label>
									<div class="col-sm-9 detail-info">
                    <%= @order.quantity %>
									</div>
								</div>
							</div>
						<!-- Form Div Ends -->
            <!-- Form Div Starts -->
  							<div class="form-horizontal" role="form">
								<div class="form-group">
									<label for="inputFname" class="col-sm-3 control-label">Meal :</label>
									<div class="col-sm-9 detail-info">
                    <%= @order.meal.title %>
									</div>
								</div>
							</div>
						<!-- Form Div Ends -->
            <!-- Form Div Starts -->
  							<div class="form-horizontal" role="form">
								<div class="form-group">
									<label for="inputFname" class="col-sm-3 control-label">Total :</label>
									<div class="col-sm-9 detail-info">
                    $<%= if @order.total_cost
                         "%.2f" % BigDecimal(@order.total_cost).truncate(2)
                        end %>
									</div>
								</div>
							</div>
						<!-- Form Div Ends -->
            <!-- Form Div Starts -->
  							<div class="form-horizontal" role="form">
								<div class="form-group">
									<label for="inputFname" class="col-sm-3 control-label">Pickup Address :</label>
									<div class="col-sm-9 detail-info">
                    <%= @order.pickup_address %>
									</div>
								</div>
							</div>
						<!-- Form Div Ends -->
            <!-- Form Div Starts -->
  							<div class="form-horizontal" role="form">
								<div class="form-group">
									<label for="inputFname" class="col-sm-3 control-label">Delivery Address :</label>
									<div class="col-sm-9 detail-info">
                    <%= @order.delivery_address %>
									</div>
								</div>
							</div>
						<!-- Form Div Ends -->
            <!-- Form Div Starts -->
  							<div class="form-horizontal" role="form">
								<div class="form-group">
									<label for="inputFname" class="col-sm-3 control-label">Order Date :</label>
									<div class="col-sm-9 detail-info">
                    <%= @order.order_date.strftime(Constants::TIME_FORMAT) %>
									</div>
								</div>
							</div>
						<!-- Form Div Ends -->
            <!-- Form Div Starts -->
  							<div class="form-horizontal" role="form">
								<div class="form-group">
									<label for="inputFname" class="col-sm-3 control-label">Pickup/Delivery Date :</label>
									<div class="col-sm-9 detail-info">
                    <%= if @order.pickup_date
                          @order.pickup_date.strftime(Constants::TIME_FORMAT)
                        end %>
									</div>
								</div>
							</div>
						<!-- Form Div Ends -->
            <!-- Form Div Starts -->
  							<div class="form-horizontal" role="form">
								<div class="form-group">
									<label for="inputFname" class="col-sm-3 control-label">Will Pickup? :</label>
									<div class="col-sm-9 detail-info">
                    <%= if @order.pickup
                      "Yes"
                    else
                      "No"
                    end %>
									</div>
								</div>
							</div>
						<!-- Form Div Ends -->
            <!-- Form Div Starts -->
  							<div class="form-horizontal" role="form">
								<div class="form-group">
									<label for="inputFname" class="col-sm-3 control-label">Want Delivered? :</label>
									<div class="col-sm-9 detail-info">
                    <%= if @order.delivery
                      "Yes"
                    else
                      "No"
                    end %>
									</div>
								</div>
							</div>
						<!-- Form Div Ends -->
            <!-- Form Div Starts -->
  							<div class="form-horizontal" role="form">
								<div class="form-group">
									<label for="inputFname" class="col-sm-3 control-label">Customer Phone :</label>
									<div class="col-sm-9 detail-info">
                    <%= @order.customer_phone %>
									</div>
								</div>
							</div>
						<!-- Form Div Ends -->
            <!-- Form Div Starts -->
  							<div class="form-horizontal" role="form">
								<div class="form-group">
									<label for="inputFname" class="col-sm-3 control-label">Customer Email :</label>
									<div class="col-sm-9 detail-info">
                    <%= @order.user.email %>
									</div>
								</div>
							</div>
						<!-- Form Div Ends -->
            <!-- Form Div Starts -->
                <div class="form-horizontal" role="form">
                <div class="form-group">
                  <label for="inputFname" class="col-sm-3 control-label">Cook :</label>
                  <div class="col-sm-9 detail-info">
                    <%= @order.cook.first_name %>
                  </div>
                </div>
              </div>
            <!-- Form Div Ends -->
            <!-- Form Div Starts -->
                <div class="form-horizontal" role="form">
                <div class="form-group">
                  <label for="inputFname" class="col-sm-3 control-label">Cook Email :</label>
                  <div class="col-sm-9 detail-info">
                    <%= @order.cook.email %>
                  </div>
                </div>
              </div>
            <!-- Form Div Ends -->



<%= javascript_include_tag "pickadate/form_datepicker" %>
<%= javascript_include_tag "form_helper_functions" %>
