<p id="notice"><%= notice %></p>
<% @check_mark = "✓"
   @unpaid = "X" %>
   <!-- Main Container Starts -->
   	<div id="main-container" class="container">
   	<!-- Breadcrumb Starts -->
   		<ol class="breadcrumb">
        <li><%= link_to "Home", root_path  %></li>
        <li><%= controller_name %></li>
        <li class="active"><%= params[:action] %></li>
   		</ol>
   	<!-- Breadcrumb Ends -->
   	<!-- Main Heading Starts -->
   		<h2 class="main-heading text-center">
   			My Orders
   		</h2>
   	<!-- Main Heading Ends -->
   	<!-- Shopping Cart Table Starts -->
   		<div class="table-responsive shopping-cart-table">
   			<table class="table table-bordered">
   				<thead>
   					<tr>
   						<td class="text-center">
   							# of Meals
   						</td>
   						<td class="text-center">
   							Total
   						</td>
              <% if cook_signed_in? %>
               <td class="text-center">Your Total</th>
             <% end %>
   						<td class="text-center">
   							Paid
   						</td>
   						<td class="text-center">
   							Pickup Address
   						</td>
   						<td class="text-center">
   							Delivery Address
   						</td>
   						<td class="text-center">
   							Order Date
   						</td>
               <td class="text-center">
   							Pickup Date
   						</td>
               <td class="text-center">
   							Customer Phone Number
   						</td>
               <td class="text-center">
   							Meal
   						</td>
               <td class="text-center">
   							Order Option(s)
   						</td>
              <td class="text-center">
               Review Option(s)
             </td>
   					</tr>
   				</thead>
   				<tbody>
            <% @orders.each do |order| %>
              <tr>
                <th class="text-center" scope="row"><%= order.quantity %></th>
                <td class="text-center">$<%= if order.total_cost
                          "%.2f" % BigDecimal(order.total_cost).truncate(2)
                         end %></td>

                 <% if cook_signed_in? %>
                       <td class="text-center">
                         <%= if order.cook_total
                               "%.2f" % BigDecimal(order.cook_total).truncate(2)
                             end %>
                       </td>
                <% end %>
                 <td class="text-center"><%= if order.paid
                            @check_mark
                           else
                            @unpaid
                         end %></td>
                <td class="text-center"><%= order.pickup_address %></td>
                <td class="text-center"><%= order.delivery_address %></td>
                <td class="text-center"><%= order.order_date.strftime(Constants::TIME_FORMAT) %></td>
                <td class="text-center"><%= if order.pickup_date
                          order.pickup_date.strftime(Constants::TIME_FORMAT)
                         end %></td>
                <td class="text-center"><%= order.customer_phone %></td>
                <td class="text-center"><%= order.meal.title %></td>

                <td class="text-center"><%= button_to 'View', order, class: "btn btn-danger btn-xs" %></td>
                <% if order.reviewed && order.review.rating  %>
                <td class="text-center">
                  <div class="star-ratings-css-meal">
                    <div class="star-ratings-css-top-meal" style="width:<%= order.review.rating.to_f * 20 %>%"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                    <div class="star-ratings-css-bottom"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                  </div>
                </td>
                <% elsif order.paid && !order.reviewed %>
                  <% if user_signed_in? && canLeaveFeedback(order) %>
                    <td class="text-center"><%= button_to 'Leave Review', new_review_path(order: order.id), class: "btn btn-danger btn-xs" %></td>
                  <% else %>
                    <td class="text-center">N/A</td>
                  <% end %>
                <% else %>
                  <td class="text-center">N/A</td>
                <% end %>
            <% end %>
   				</tbody>
   			</table>
   		</div>
   	<!-- Shopping Cart Table Ends -->
   </div>
   <!-- Main Container Ends -->
