<!-- Main Container Starts -->
	<div id="main-container" class="container">
	<!-- Breadcrumb Starts -->
		<ol class="breadcrumb">
			<li><%= link_to "Home", root_path  %></li>
      <li><%= controller_name %></li>
      <li class="active"><%= params[:action] %></li>
		</ol>
	<!-- Breadcrumb Ends -->
	<!-- Main Heading Starts -->
		<h2 class="main-heading text-center">
			Cook Registration <br />
			<span>Create New Account</span>
		</h2>
	<!-- Main Heading Ends -->
	<!-- Registration Section Starts -->
		<section class="registration-area">
			<div class="row">
				<div class="col-sm-6">
					<!-- Registration Block Starts -->
						<div class="panel panel-smart">
							<div class="panel-heading">
								<h3 class="panel-title">Sign Up Info</h3>
							</div>
							<div class="panel-body">
							<!-- Registration Form Starts -->
								<!-- Personal Information Starts -->
								<%= form_for(resource, as: resource_name, url: registration_path(resource_name),  html: { class: "form-horizontal"}) do |f| %>
									<%= devise_error_messages! %>
									<div class="form-group">
										<%= f.label "Name", class: "col-sm-3 control-label"%>
										<div class="col-sm-9">
											<%= f.text_field :first_name, class: "form-control", autocomplete: "first_name", :required => true, placeholder: "Name" %>
										</div>
									</div>
									<div class="form-group">
										<%= f.label "Email", class: "col-sm-3 control-label"%>
										<div class="col-sm-9">
											<%= f.email_field :email, autofocus: true, class: "form-control", autocomplete: "email", :required => true, placeholder: "Email" %>
										</div>
									</div>
								<!-- Personal Information Ends -->
								<!-- Password Area Starts -->
									<h3 class="panel-heading inner">
										Password
									</h3>
									<div class="form-group">
										<%= f.label :password, class: "col-sm-3 control-label"%>
										<div class="col-sm-9">
											<!--  TODO Change later. Harcoded password requirement -->
											<%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password (6 characters minimum)"%>
										</div>
									</div>
									<div class="form-group">
										<%= f.label "Re-Password", class: "col-sm-3 control-label"%>
										<div class="col-sm-9">
											<!--  TODO Change later. Harcoded password requirement -->
											<%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Re-Password (6 characters minimum)"%>
										</div>
									</div>
								<!-- Password Area Ends -->
								<!-- Profile Image Upload Starts -->
									<h3 class="panel-heading inner">
										Upload a Profile Image
									</h3>
									<div class="form-group">
										<%= f.label "Profile Image", class: "col-sm-3 control-label"%>
										<div class="col-sm-9">
											<%= f.file_field :profile_image %>
										</div>
									</div>
								<!-- Profile Image Upload Ends -->
								<div class="form-group">
									<div class="col-sm-offset-3 col-sm-9">
										<div class="checkbox">
											<label>
												<input type="checkbox" required="required"> I have read and agreed to the Terms & Conditions
											</label>
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-offset-3 col-sm-9">
										<div class="actions">
											<%= f.submit "Sign Up", class: "btn btn-black" %>
										</div>
									</div>
								</div>
								<% end %>
							<!-- Registration Form Ends -->
							</div>
						</div>
					<!-- Registration Block Ends -->
				</div>
				<div class="col-sm-6">
				<!-- Guest Checkout Panel Starts -->
					<div class="panel panel-smart">
						<div class="panel-heading">
							<h3 class="panel-title">
								Sign Up As a User
							</h3>
						</div>
						<div class="panel-body">
							<p>
								Start Ordering Meals Cooked By Your Neighbors
							</p>
							<%= link_to "User Sign Up", new_user_registration_path, { :class => "btn btn-black" } %>
						</div>
					</div>
				<!-- Guest Checkout Panel Ends -->
				<!-- Conditions Panel Starts -->
					<div class="panel panel-smart">
						<div class="panel-heading">
							<h3 class="panel-title">
								Terms & Conditions
							</h3>
						</div>
						<div class="panel-body">
							<p>
								By signing up as a cook with Cooked.Me you agree to the fowllowing terms.
							<p>
								You have read, understood and will adhere to any and all applicable
								California Safety and Health Codes including but not limited to the California Retail Food Code found here:<br />
								<a href="http://publichealth.lacounty.gov/eh/docs/Specialized/CaCode.pdf">Click Here To View California Retail Food Code</a><br>
							</p>
							<p>
								 Below are just SOME key highlights of the California Retail Food Code:
							</p>
							<p>

							</p>
							<ol>
							  <li>Do not cook if you or somebody else in the household is ill.</li>
							  <li>Wash hands properly with soap before cooking and after using the restroom. Use gloves.</li>
								<li>All food must be in good condition, safe and unadulterated</li>
								<li>Clean and sanitize all food-contact surfaces</li>
								<li>Food must be obtained from approved sources</li>
								<li>Water must not be contaminated</li>
								<li>No insects, rodents, birds or animals must be present during cooking</li>
								<li>Adhere to proper hot and cold holding temperatures as mentioned in the California Retail Food Code</li>
								<li>Adhere to proper cooling methods as mentioned in the California Retail Food Code</li>
								<li>Adhere to proper cooking time and temperature as mentioned in the California Retail Food Code</li>
								<li>Adhere to proper reheating procedures for hot holdings as mentioned in the California Retail Food Code</li>
							</ol>

							<p>
								You are responsible for proper packaging and timely delivery of all orders.
							</p>
							<p>
								Please make sure you list any ingredient(s) that could cause an allergic reaction including but
								not limited to the following eight:
							</p>
							<ol>
							  <li>Milk</li>
							  <li>Egss</li>
								<li>Fish</li>
								<li>crustacean shellfish</li>
								<li>Tree Nuts</li>
								<li>Peanuts</li>
								<li>Wheat</li>
								<li>Soya</li>
							</ol>

						</div>
					</div>
				<!-- Conditions Panel Ends -->
				</div>
			</div>
		</section>
	<!-- Registration Section Ends -->
	</div>
	<!-- Main Container Ends -->
