<!-- Main Container Starts -->
	<div id="main-container" class="container">
	<!-- Breadcrumb Starts -->
		<ol class="breadcrumb">
			<li><%= link_to "Home", root_path  %></li>
      <li><%= controller_name %></li>
      <li class="active"><%= params[:action] %></li>
		</ol>
	<!-- Breadcrumb Ends -->
	<!-- Main Heading Starts -->
		<h2 class="main-heading text-center">
			<% if params[:action] == "edit" %>
				Edit Meal
			<% else %>
				Meal Details
			<% end %>
		</h2>
	<!-- Main Heading Ends -->

  <!-- Rails Form Starts -->
<%= form_with(model: meal, local: true) do |form| %>
  <% if meal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(meal.errors.count, "error") %> prohibited this meal from being saved:</h2>
      <ul>
      <% meal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="panel panel-smart">
    <div class="panel-heading">
      <h3 class="panel-title">
        Information
      </h3>
    </div>
    <div class="panel-body">
    <!-- Form Div Starts -->
        <div class="form-horizontal" role="form">
        <div class="form-group">
          <label for="inputFname" class="col-sm-3 control-label">Title :</label>
          <div class="col-sm-9">
            <%= form.text_field :title, id: :meal_title, :required => true, class: "form-control", placeholder: "Meal Title" %>
            <!-- <%= form.text_area :delivery_address, id: :order_delivery_address, :required => true, class: "form-control", placeholder: "Street City, State Zip" %> -->
          </div>
        </div>
      </div>
    <!-- Form Div Ends -->
    <!-- Form Div Starts -->
      <div class="form-horizontal" role="form">
        <div class="form-group">
          <label for="inputFname" class="col-sm-3 control-label">Description :</label>
          <div class="col-sm-9">
            <%= form.text_area :description, id: :meal_description, class: "form-control", placeholder: "Description" %>
          </div>
        </div>
      </div>
    <!-- Form Div Ends -->
    <!-- Form Div Starts -->
      <div class="form-horizontal" role="form">
        <div class="form-group">
          <label for="inputFname" class="col-sm-3 control-label">Ingredients :</label>
          <div class="col-sm-9">
            <%= form.text_area :ingredients, id: :meal_ingredients, class: "form-control", placeholder: "Ingredients" %>
          </div>
        </div>
      </div>
    <!-- Form Div Ends -->
    <!-- Form Div Starts -->
      <div class="form-horizontal" role="form">
        <div class="form-group">
          <label for="inputFname" class="col-sm-3 control-label">Available From :</label>
          <div class="col-sm-9">
            <% if @meal.availability_from %>
                  <input type="text" name="meal[availability_from]" id="meal_availability_from" value="<%= @availability_from_formatted %>"/>
            <% else %>
                 <input type="text" name="meal[availability_from]" id="meal_availability_from" required="true" placeholder="Select Date and Time"/>
            <% end %>
              <div id="hidden-time">
                  <input type="text" id="date_from"/>
                  <input type="text" id="time_from"/>
              </div>
              <div id="outlet_from"></div>
          </div>
        </div>
      </div>
    <!-- Form Div Ends -->
    <!-- Form Div Starts -->
      <div class="form-horizontal" role="form">
        <div class="form-group">
          <label for="inputFname" class="col-sm-3 control-label">Available To :</label>
          <div class="col-sm-9">
            <% if @meal.availability_from %>
                  <input type="text" name="meal[availability_to]" id="meal_availability_to" value="<%= @availability_to_formatted %>"/>
            <% else %>
                 <input type="text" name="meal[availability_to]" id="meal_availability_to" required="true" placeholder="Select Date and Time"/>
            <% end %>
              <div id="hidden-time">
                  <input type="text" id="date_to"/>
                  <input type="text" id="time_to"/>
              </div>
              <div id="outlet_to"></div>
          </div>
        </div>
      </div>
    <!-- Form Div Ends -->
    <!-- Form Div Starts -->
      <div class="form-horizontal" role="form">
        <div class="form-group">
          <label for="inputFname" class="col-sm-3 control-label">Portion Info :</label>
          <div class="col-sm-9">
                <%= form.text_area :portion_info, id: :meal_portion_info, class: "form-control", placeholder: "Portion Info (e.g. Enough for one Adult)" %>
          </div>
        </div>
      </div>
    <!-- Form Div Ends -->
    <!-- Form Div Starts -->
      <!-- <div class="form-horizontal" role="form">
        <div class="form-group">
          <label for="inputFname" class="col-sm-3 control-label">(Optional):</label>
          <div class="col-sm-9">
            <%= form.label :pickup_only %>
            <%= form.check_box :pickup_only, :second_name => "foo[1]", id: :meal_pickup_only, :class => "radio form-control" %>
            <%= form.label :delivery_only %>
            <%= form.check_box :delivery_only, :second_name => "foo[1]", id: :meal_delivery_only, :class => "radio form-control" %>
          </div>
        </div>
      </div> -->
    <!-- Form Div Ends -->
    <!-- Form Div Starts -->
      <div class="form-horizontal" role="form">
        <div class="form-group">
          <label for="inputFname" class="col-sm-3 control-label">Pickup Address :</label>
          <div class="col-sm-9">
						<%= if @has_default_pickup_address_set
							form.text_field :location, id: :meal_location, :required => true, class: "form-control", :readonly => true, :value => @default_pickup_address
						else
						  form.text_field :location, id: :meal_location, :required => true, class: "form-control", placeholder: "Pickup Address (Will Be Set as Default)"
						end %>
          </div>
        </div>
      </div>
    <!-- Form Div Ends -->
		<!-- Form Div Starts -->
      <div class="form-horizontal" role="form">
        <div class="form-group">
          <label for="inputFname" class="col-sm-3 control-label">Phone Number :</label>
          <div class="col-sm-9">
						<%= if @has_phone_number_set
							form.text_field :phone_number, id: :default_phone_number, :required => true, class: "form-control", :readonly => true, :value => @phone_number
						else
						  form.text_field :phone_number, id: :default_phone_number, :required => true, class: "form-control", placeholder: "Phone Number (Will Be Set as Default)"
						end %>
          </div>
        </div>
      </div>
    <!-- Form Div Ends -->
    <!-- Form Div Starts -->
      <div class="form-horizontal" role="form">
        <div class="form-group">
          <label for="inputFname" class="col-sm-3 control-label">Tags :</label>
          <div class="col-sm-9">
            <%= form.text_field :tags, id: :meal_tags, class: "form-control", placeholder: "Tags (e.g. Mexican, Gluten-Free etc.)" %>
          </div>
        </div>
      </div>
    <!-- Form Div Ends -->
		<!-- Form Div Starts -->
      <div class="form-horizontal" role="form">
        <div class="form-group">
          <label for="inputFname" class="col-sm-3 control-label">Category (Optional):</label>
          <div class="col-sm-9">
            <%= form.label "Family Deal (Price below is for 5 People)" %>
            <%= form.check_box :family_deal, :second_name => "foo[2]", id: :meal_family_deal, :class => "radio form-control" %>
            <%= form.label :low_carb %>
            <%= form.check_box :low_carb, :second_name => "foo[2]", id: :meal_low_carb, :class => "radio form-control" %>
          </div>
        </div>
      </div>
    <!-- Form Div Ends -->
    <!-- Form Div Starts -->
      <div class="form-horizontal" role="form">
        <div class="form-group">
          <label for="inputFname" class="col-sm-3 control-label">Price :</label>
          <div class="col-sm-9">
            <%= form.number_field :meal_cost, id: :meal_meal_cost , :required => true, step: :any, class: "form-control", placeholder: "Meal Price" %>
          </div>
        </div>
      </div>
    <!-- Form Div Ends -->
    <!-- Form Div Starts -->
      <div class="form-horizontal" role="form">
        <div class="form-group">
					<% if params[:action] == "edit" %>
          	<label for="inputFname" class="col-sm-3 control-label">Replace Image (Optional) :</label>
					<% else %>
						<label for="inputFname" class="col-sm-3 control-label">Upload One Image :</label>
					<% end %>
          <div class="col-sm-9">
            <%= form.file_field :images %>
          </div>
        </div>
      </div>
    <!-- Form Div Ends -->
		<!-- Form Div Starts -->
		<% if params[:action] == "edit" %>
      <div class="form-horizontal" role="form">
        <div class="form-group">
          <label for="inputFname" class="col-sm-3 control-label">Active? (Uncheck if you want to discontinue meal) :</label>
          <div class="col-sm-9">
						<% if params[:action] == "edit" %>
            	<%= form.check_box :active, class: "radio form-control" %>
						<% end %>
          </div>
        </div>
      </div>
			<% end %>
    <!-- Form Div Ends -->
    <!-- Hidden Div Starts -->
    <div class="field" id="hidden">
      <%= form.label :cook_id %>
      <%= form.text_field :cook_id, id: :meal_cook_id %>
    </div>
    <!-- Hidden Div Ends -->
    </div>
  </div>
  <div class="col-sm-offset-2 col-sm-10">
    <%= if params[:action] == "edit"
          form.submit "Modify Meal", class: "btn btn-black text-uppercase"
        else
           form.submit "Offer Meal", class: "btn btn-black text-uppercase"
        end %>
  </div>
  <% end %>
	<!-- Rails Form Ends -->
	</div>
<!-- Main Container Ends -->


<%= javascript_include_tag "pickadate/form_datepicker" %>
<%= javascript_include_tag "form_helper_functions" %>
