<!-- Main Container Starts -->
	<div id="main-container" class="container">
	<!-- Breadcrumb Starts -->
		<ol class="breadcrumb">
			<li><%= link_to "Home", root_path  %></li>
      <li><%= controller_name %></li>
      <li class="active"><%= params[:action] %></li>
		</ol>
	<!-- Breadcrumb Ends -->
	<!-- Product Info Starts -->
		<div class="row product-info full">
		<!-- Left Starts -->
			<div class="col-sm-4 images-block">
				<a href="images/product-images/big-pimg1.jpg">
					<%= if @meal.images.to_s != ""
								# image_tag meal.images.thumb.url
								image_tag(@meal.images.to_s, class: "img-responsive")
							else
								image_tag("template/Default_Medium.jpeg", size: "640x415", class: "img-responsive")
							 end %>

				</a>
				<ul class="list-unstyled list-inline" style="visibility:hidden;">
					<li>
						<a href="images/product-images/big-pimg2.jpg">
							<img src="images/product-images/thumb1.jpg" alt="Image" class="img-responsive thumbnail" />
						</a>
					</li>
					<li>
						<a href="images/product-images/big-pimg3.jpg">
							<img src="images/product-images/thumb2.jpg" alt="Image" class="img-responsive thumbnail" />
						</a>
					</li>
					<li>
						<a href="images/product-images/big-pimg4.jpg">
							<img src="images/product-images/thumb3.jpg" alt="Image" class="img-responsive thumbnail" />
						</a>
					</li>
					<li>
						<a href="images/product-images/big-pimg4.jpg">
							<img src="images/product-images/thumb4.jpg" alt="Image" class="img-responsive thumbnail" />
						</a>
					</li>
				</ul>
			</div>
		<!-- Left Ends -->
		<!-- Right Starts -->

			<div class="col-sm-8 product-details">
				<div class="panel-smart">
          <!-- Product Name Starts -->
            <h2><%= @meal.title %></h2>
          <!-- Product Name Ends -->
            <hr />
          <!-- Manufacturer Starts -->
            <ul class="list-unstyled manufacturer">
              <li>
                <span>Availability From:</span> <%= @meal.availability_from.strftime(Constants::TIME_FORMAT) %>
              </li>
              <li>
                <span>Availability To:</span> <%= @meal.availability_to.strftime(Constants::TIME_FORMAT) %>
              </li>
              <li>
                <span>Pickup/Delivery:</span>
								<% if @meal.pickup_only %>
									Pickup Only
								<% elsif @meal.delivery_only %>
									Delivery Only
								<% else %>
									Pickup Or Delivery
								<% end %>
              </li>
              <li><span>Portion Info:</span>
								<%= @meal.portion_info %>
							</li>
						</ul>
								<div class="star-ratings-css-meal">
									<div class="star-ratings-css-top-meal" style="width:<%= @meal.cook.reviews.average(:rating).to_f * 20 %>%"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
									<div class="star-ratings-css-bottom"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
								</div>
								<% if @meal.reviews.count > 0 %>
									<span class="rating-count"><%= @meal.reviews.count %> review(s)</span>
								<% else %>
									<span class="rating-count">No Reviews Yet</span>
									<% end %>
							<!-- </li> -->
              <!-- <li> -->
                <!-- <span style="display: none;">Currently Offered?:</span> <strong class="label label-success" style="display:none;"> YES</strong> -->
              <!-- </li> -->

          <!-- Manufacturer Ends -->
            <hr />
          <!-- Price Starts -->
            <div class="price">
              <span class="price-head">Price :</span>
              <span class="price-new"> $<%= "%.2f" % BigDecimal(@meal.meal_cost).truncate(2) %></span>
            </div>
          <!-- Price Ends -->
            <hr />
          <!-- Available Options Starts -->
            <div class="options">
							<%= if user_signed_in?
										button_to 'Order', {:controller => "orders", :action => "new"}, :method => :get, :class => "btn btn-block btn-danger btn-color", params: { mealID: @meal.id}
									 else
										 link_to "Sign in to Order", new_user_session_path, { :class => "btn btn-black" }
									 end %>
            </div>
				<!-- Available Options Ends -->
				</div>
			</div>
		<!-- Right Ends -->
		</div>
	<!-- Product Info Ends -->
	<!-- Tabs Starts -->
		<div class="tabs-panel panel-smart">
		<!-- Nav Tabs Starts -->
			<ul class="nav nav-tabs">
				<li class="active">
					<a href="#tab-description">Description</a>
				</li>
				<li>
					<a href="#tab-specification">Ingredients</a>
				</li>
				<li><a href="#tab-ainfo">Meet The Chef</a></li>
				<li><a href="#tab-review">Reviews</a></li>
			</ul>
		<!-- Nav Tabs Ends -->
		<!-- Tab Content Starts -->
			<div class="tab-content clearfix">
			<!-- Description Starts -->
				<div class="tab-pane active" id="tab-description">
					<p>
					<%= @meal.description %>
					</p>
				</div>
			<!-- Description Ends -->
			<!-- Specification Starts -->
				<div class="tab-pane" id="tab-specification">
					<p>
					<%= @meal.ingredients %>
					</p>
				</div>
			<!-- Specification Ends -->
			<!-- Additional Information Starts -->
				<div class="tab-pane" id="tab-ainfo">
          <h3 class="side-heading">Meet the Chef</h3>
  				<div class="product-col">
  					<div class="image">
              <%= image_tag("images/brands/profile_1.jpg", class:"img-responsive img-center") %>
  					</div>
  					<div class="caption center-info">
  						<h4><%= @meal.cook.first_name %></h4>
							<div class="star-ratings-css-cook">
							  <div class="star-ratings-css-top-cook" style="width:<%= @meal.cook.reviews.average(:rating).to_f * 20 %>%"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
							  <div class="star-ratings-css-bottom"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
							</div>
							<%= @meal.reviews.count %> review(s)
  					</div>
  				</div>
				</div>
			<!-- Additional Information Ends -->
			<!-- Review Starts -->
				<div class="tab-pane" id="tab-review">

					<% @reviews.each do |review| %>
						<div class="form-horizontal">
							<div class="form-group required">
								<!-- <label class="col-sm-2 control-label" for="input-name">Left By: </label> -->
								<div class="col-sm-10">
									<%= review.user.first_name %>
									 <% if review.text && review.text != "" %>
												said "<%= review.text %>""
											<% end %>
								</div>
							</div>
							<!-- <div class="form-group required">
								<label class="col-sm-2 control-label" for="input-name">Review Text</label>
								<div class="col-sm-10">
									<%= review.text %>
								</div>
							</div> -->
						<div class="form-group required">
							<!-- <label class="col-sm-2 control-label" for="input-name">Review Score</label> -->
							<div class="col-sm-10">
								<div class="star-ratings-css-meal">
									<div class="star-ratings-css-top-meal" style="width:<%= review.rating.to_f * 20 %>%"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
									<div class="star-ratings-css-bottom"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
								</div>
							</div>
						</div>
					</div>
					<hr>
				<% end %>

			</div>
			<!-- Review Ends -->
			</div>
		<!-- Tab Content Ends -->
		</div>
	<!-- Tabs Ends -->
	<!-- Related Products Starts -->
		<div class="product-info-box">
			<h4 class="heading">Related Meals</h4>
		<!-- Products Row Starts -->
			<div class="row">
			<!-- Product #1 Starts -->
				<div class="col-md-3 col-sm-6">
					<div class="product-col">
            <div class="image">
              <%= image_tag("images/product-images/1.jpg", class:"img-responsive") %>
            </div>
            <div class="caption">
              <div class="price">
                <span class="price-new">$5.99</span>
                <span class="price-old" style="visibility: hidden;">$249.50</span>
              </div>
              <h4><a href="product.html">Healthy Turkey Burger </a></h4>
              <div class="ratings">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <span><a href="#">1 review(s)</a></span>
              </div>
              <span class="availability-info">Available Now!</span><br>
              <a href="#" class="btn btn-block btn-danger btn-color"><span class="glyphicon glyphicon-shopping-cart"></span> Order</a>
              <div class="cart-button button-group">
                <button type="button" class="btn btn-cart" style="display: none;">
                  <i class="fa fa-shopping-cart"></i>
                </button>
                <button type="button" title="Wishlist" class="btn btn-wishlist" style="display: none;">
                  <i class="fa fa-heart"></i>
                </button>
                <button type="button" title="Compare" class="btn btn-compare" style="display: none;">
                  <i class="fa fa-bar-chart-o"></i>
                </button>
              </div>
            </div>
					</div>
				</div>
			<!-- Product #1 Ends -->
			<!-- Product #2 Starts -->
				<div class="col-md-3 col-sm-6">
					<div class="product-col">
            <div class="image">
              <%= image_tag("images/product-images/2.jpg", class:"img-responsive") %>
            </div>
            <div class="caption">
              <div class="price">
                <span class="price-new">$12.99</span>
                <span class="price-old" style="visibility: hidden;">$249.50</span>
              </div>
              <h4><a href="product.html">Strawberry Cupcakes</a></h4>
              <div class="ratings">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <span><a href="#">14 review(s)</a></span>
              </div>
              <span class="availability-info">Available Now!</span><br>
              <a href="#" class="btn btn-block btn-danger btn-color"><span class="glyphicon glyphicon-shopping-cart"></span> Order</a>
              <div class="cart-button button-group">
                <button type="button" class="btn btn-cart" style="display: none;">
                  <i class="fa fa-shopping-cart"></i>
                </button>
                <button type="button" title="Wishlist" class="btn btn-wishlist" style="display: none;">
                  <i class="fa fa-heart"></i>
                </button>
                <button type="button" title="Compare" class="btn btn-compare" style="display: none;">
                  <i class="fa fa-bar-chart-o"></i>
                </button>
              </div>
            </div>
					</div>
				</div>
			<!-- Product #2 Ends -->
			<!-- Product #3 Starts -->
				<div class="col-md-3 col-sm-6">
					<div class="product-col">
            <div class="image">
              <%= image_tag("images/product-images/3.jpg", class:"img-responsive") %>
            </div>
            <div class="caption">
              <div class="price">
                <span class="price-new">$15.99</span>
                <span class="price-old" style="visibility: hidden;">$249.50</span>
              </div>
              <h4><a href="product.html">Norwegian Pizza</a></h4>
              <div class="ratings">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <span><a href="#">132 review(s)</a></span>
              </div>
              <span class="availability-info">Available Now!</span><br>
              <a href="#" class="btn btn-block btn-danger btn-color"><span class="glyphicon glyphicon-shopping-cart"></span> Order</a>
              <div class="cart-button button-group">
                <button type="button" class="btn btn-cart" style="display: none;">
                  <i class="fa fa-shopping-cart"></i>
                </button>
                <button type="button" title="Wishlist" class="btn btn-wishlist" style="display: none;">
                  <i class="fa fa-heart"></i>
                </button>
                <button type="button" title="Compare" class="btn btn-compare" style="display: none;">
                  <i class="fa fa-bar-chart-o"></i>
                </button>
              </div>
            </div>
					</div>
				</div>
			<!-- Product #3 Ends -->
			<!-- Product #4 Starts -->
				<div class="col-md-3 col-sm-6">
					<div class="product-col">
            <div class="image">
              <%= image_tag("images/product-images/1.jpg", class:"img-responsive") %>
            </div>
            <div class="caption">
              <div class="price">
                <span class="price-new">$5.99</span>
                <span class="price-old" style="visibility: hidden;">$249.50</span>
              </div>
              <h4><a href="product.html">Healthy Turkey Burger </a></h4>
              <div class="ratings">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <span><a href="#">1 review(s)</a></span>
              </div>
              <span class="availability-info">Available Now!</span><br>
              <a href="#" class="btn btn-block btn-danger btn-color"><span class="glyphicon glyphicon-shopping-cart"></span> Order</a>
              <div class="cart-button button-group">
                <button type="button" class="btn btn-cart" style="display: none;">
                  <i class="fa fa-shopping-cart"></i>
                </button>
                <button type="button" title="Wishlist" class="btn btn-wishlist" style="display: none;">
                  <i class="fa fa-heart"></i>
                </button>
                <button type="button" title="Compare" class="btn btn-compare" style="display: none;">
                  <i class="fa fa-bar-chart-o"></i>
                </button>
              </div>
            </div>
					</div>
				</div>
			<!-- Product #4 Ends -->
			</div>
		<!-- Products Row Ends -->
		</div>
	<!-- Related Products Ends -->
	</div>
<!-- Main Container Ends -->
