<!-- Main Container Starts -->
	<div id="main-container" class="container">
	<!-- Breadcrumb Starts -->
		<ol class="breadcrumb">
			<li><%= link_to "Home", root_path  %></li>
			<li><%= controller_name %></li>
			<li class="active"><%= params[:action] %></li>
		</ol>
	<!-- Breadcrumb Ends -->
	<!-- Nested Row Starts -->
		<div class="row">
		<!-- Sidebar Starts -->
			<div class="col-md-3 col-xs-12">
			<!-- Categories Links Starts -->
				<h3 class="side-heading">Help Pages</h3>
				<div class="list-group categories">
					<%= link_to "California Health and Safety Code", abouts_about_health_path, class: "list-group-item" %>
					<%= link_to "Becoming a Cook", abouts_about_cook_path, class: "list-group-item" %>
          <%= link_to "Delivery and Pickup", abouts_about_delivery_path, class: "list-group-item" %>
          <%= link_to "Payments and Refunds", abouts_about_payment_path, class: "list-group-item" %>
				</div>
			<!-- Categories Links Ends -->
			</div>
		<!-- Sidebar Ends -->
		<!-- Primary Content Starts -->
			<div class="col-md-9 col-xs-12">
			<!-- About Content Starts -->
				<div class="page-box">
					<div class="row">
						<div class="col-sm-8">
							<h3>Becoming a Cook</h3>
							<h4></h4>
							<p>
								Becoming a cook on CookedNearby.Com is easy. Simply sign up as a cook. Be aware that there are two user types: user and cook. Only through a cook account can you offer meals.
								During the sign up process you will need to confirm that you will adhere to any and all applicable California Health
								and Safety Codes. Also keep in mind that you will not be able to order any meals on CookedNearby.Com with a cook account. You would need to sign up as a user.
							</p>
						</div>
					</div>
					<br />
					<p>
					</p>
				</div>
			<!-- About Content Ends -->
				<hr />
        <!-- About Content Starts -->
          <div class="page-box">
            <div class="row">
              <div class="col-sm-8">
                <h3>Cooking</h3>
                <h4></h4>
                <p>
                  Once you sign up as a cook you can start offering meals. We highly recommend to upload a high quality image of your meal.
									At the moment you can only upload one image. Here are a few important things to keep in mind when going through the new meal process:
									<ul>
										<li>You must specify a meal availability time range. This is the time when the customer can expect to have the meal delivered to them or pick up.</li>
										<li>You must either deliver your meal for free or have the customer pick it up at the time the customer specifies during the ordering process</li>
										<li>You are resposible providing the meals in the proper containers.</li>
										<li>You will have an option to de-activate a meal and it will no longer show up on our site.</li>
										<li>You will always have access to the created meal data and can therefore offer it again in the future if desired.</li>
										<li>Your email address will be made available to the customer when they place an order in case the customer has any questions.</li>
										<li>Please keep in mind that you will paid the meal price you set MINUS a CookedNearby.Com fee of 22%. E.g. A meal offered at $11.99 will be paid out as $9.35.</li>
										<li>Please allow a 15 minute grace period when offering your meals. E.g. a meal offered from 4 PM to 7 PM can be picked up or delivered as early as 3:45 PM. or as late 7:15PM.</li>
										<li>Only deliver freshly cooked meals to your customers. Keep your food warm but not for longer than one hour.</li>
										<li>Don't forget to share your meals on instagram and facebook to let your friends know you are cooking.</li>
                </p>
              </div>
            </div>
            <br />
            <p>
            </p>
          </div>
        <!-- About Content Ends -->
			</div>
		<!-- Primary Content Ends -->

		</div>
	<!-- Nested Row Ends -->
	</div>
<!-- Main Container Ends -->
