<!-- Main Container Starts -->
	<div id="main-container" class="container">
	<!-- Breadcrumb Starts -->
		<ol class="breadcrumb">
			<li><%= link_to "Home", root_path  %></li>
			<li><%= controller_name %></li>
			<li class="active"><%= params[:action] %></li>
		</ol>
	<!-- Breadcrumb Ends -->
	<!-- Nested Row Starts -->
		<div class="row">
		<!-- Sidebar Starts -->
			<div class="col-md-3 col-xs-12">
			<!-- Categories Links Starts -->
				<h3 class="side-heading">Help Pages</h3>
				<div class="list-group categories">
					<%= link_to "California Health and Safety Code", abouts_about_health_path, class: "list-group-item" %>
					<%= link_to "Becoming a Cook", abouts_about_cook_path, class: "list-group-item" %>
          <%= link_to "Delivery and Pickup", abouts_about_delivery_path, class: "list-group-item" %>
          <%= link_to "Payments and Refunds", abouts_about_payment_path, class: "list-group-item" %>
				</div>
			<!-- Categories Links Ends -->
			</div>
		<!-- Sidebar Ends -->
		<!-- Primary Content Starts -->
			<div class="col-md-9 col-xs-12">
			<!-- About Content Starts -->
				<div class="page-box">
					<div class="row">
						<div class="col-sm-8">
							<h3>Becoming a Cook</h3>
							<h4></h4>
							<p>
								Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software.
							</p>
						</div>
					</div>
					<br />
					<p>
						Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including  versions of Lorem Ipsum.
					</p>
				</div>
			<!-- About Content Ends -->
				<hr />
        <!-- About Content Starts -->
          <div class="page-box">
            <div class="row">
              <div class="col-sm-8">
                <h3>Cooking</h3>
                <h4></h4>
                <p>
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software.
                </p>
              </div>
            </div>
            <br />
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including  versions of Lorem Ipsum.
            </p>
          </div>
        <!-- About Content Ends -->
			</div>
		<!-- Primary Content Ends -->

		</div>
	<!-- Nested Row Ends -->
	</div>
<!-- Main Container Ends -->
