<!-- Main Container Starts -->
	<div id="main-container" class="container">
	<!-- Breadcrumb Starts -->
		<ol class="breadcrumb">
			<li><%= link_to "Home", root_path  %></li>
      <li><%= controller_name %></li>
      <li class="active"><%= params[:action] %></li>
		</ol>
		<!-- Breadcrumb Ends -->
		<!-- Nested Row Starts -->
			<div class="row">
			<!-- Sidebar Starts -->
				<div class="col-md-3 col-xs-12">
				<!-- Categories Links Starts -->
					<h3 class="side-heading">Help Pages</h3>
					<div class="list-group categories">
						<%= link_to "California Health and Safety Code", abouts_about_health_path, class: "list-group-item" %>
						<%= link_to "Becoming a Cook", abouts_about_cook_path, class: "list-group-item" %>
	          <%= link_to "Delivery and Pickup", abouts_about_delivery_path, class: "list-group-item" %>
	          <%= link_to "Payments and Refunds", abouts_about_payment_path, class: "list-group-item" %>
					</div>
				<!-- Categories Links Ends -->
				</div>
			<!-- Sidebar Ends -->
			<!-- Primary Content Starts -->
				<div class="col-md-9 col-xs-12">
				<!-- About Content Starts -->
					<div class="page-box">
						<div class="row">
							<div class="col-sm-8">
								<h3>Payments & Payouts</h3>
								<h4></h4>
								<p>
									Cooks: All payments will be processed through Cooked.Me. It is POSSIBLE for somebody to place an order and not pay for it.
									Please make sure the order is marked as paid before cooking. Once the customer pays you should see an instant change to your account balance.
									You will receive the Meal price amount minus 22%. So a meal offered at $11.99 would be paid out as $9.35.
									Cooked.Me accepts all major credit cards.
								</p>
							</div>
						</div>
						<br />
						<p>
							Be aware there is a 24 hour hold period starting from the time the customer has picked up or received the order. This is just in case the customer
							is not satisfied and requests a refund.
							You can request a payout at any time after the 24 hour past the hold period. You have two options for a payout:
							<ul>
							<li> Paypal (faster option)</li>
							<li> A check in the mail.</li>
							</ul>
							To request a payout simply fill out and submit a payout form on the site.
						</p>
					</div>
				<!-- About Content Ends -->
					<hr />
	        <!-- About Content Starts -->
	          <div class="page-box">
	            <div class="row">
	              <div class="col-sm-8">
	                <h3>Refunds</h3>
	                <h4></h4>
	                <p>
	                  Customers have a right to a 100% refund if not satisfied. Cook: All refunds will be deducted from your cook account balance.
	                </p>
	              </div>
	            </div>
	            <br />
	            <p>
	              Cook: To avoid refunds, it is of the utmost importance that you deliver your orders or make them available for pickup on time
								and that they are properly freshly cooked and kept warm.
	            </p>
	          </div>
	        <!-- About Content Ends -->
				</div>
			<!-- Primary Content Ends -->

			</div>
		<!-- Nested Row Ends -->
		</div>
	<!-- Main Container Ends -->
