<!-- Main Container Starts -->
	<div id="main-container" class="container">
	<!-- Breadcrumb Starts -->
		<ol class="breadcrumb">
			<li><%= link_to "Home", root_path  %></li>
			<li><%= controller_name %></li>
			<li class="active"><%= params[:action] %></li>
		</ol>
		<!-- Breadcrumb Ends -->
		<!-- Nested Row Starts -->
			<div class="row">
			<!-- Sidebar Starts -->
				<div class="col-md-3 col-xs-12">
				<!-- Categories Links Starts -->
					<h3 class="side-heading">Help Pages</h3>
					<div class="list-group categories">
						<%= link_to "California Health and Safety Code", abouts_about_health_path, class: "list-group-item" %>
  					<%= link_to "Becoming a Cook", abouts_about_cook_path, class: "list-group-item" %>
            <%= link_to "Delivery and Pickup", abouts_about_delivery_path, class: "list-group-item" %>
            <%= link_to "Payments and Refunds", abouts_about_payment_path, class: "list-group-item" %>
					</div>
				<!-- Categories Links Ends -->
				</div>
			<!-- Sidebar Ends -->
			<!-- Primary Content Starts -->
				<div class="col-md-9 col-xs-12">
				<!-- About Content Starts -->
				<h1>California Health and Safety Code</h1>
				<div class="page-box">
					<div class="row">
						<div class="col-sm-8">
							<h2>Safety and Health Comes First!</h2>
							<p>
								CookedNearby.Com highest priority is the health and safety of its consumers. It is of utmost important that all meals offered on CookedNearby.Com
								are prepared and cooked in the safest possible way and in accords with the California Retail Food Code. All cooks siging up with CookedNearby.Com must
								acknowledge their commitment and adherence to safe cooking practices and the California Retail Food Code.
							</p>
						</div>
					</div>
				</div>
					<div class="page-box">
						<div class="row">
							<div class="col-sm-8">
								<h2>Official Documents</h2>
								<p>
									<a href="http://publichealth.lacounty.gov/eh/docs/Specialized/CaCode.pdf">Click Here To View California Retail Food Code</a><br>
									<a href="http://publichealth.lacounty.gov/eh/docs/RefGuideFoodInspectionReport.pdf">Click Here To View REFERENCE GUIDE FOR THE FOOD OFFICIAL INSPECTION REPORT</a>
								</p>
							</div>
						</div>
					</div>
					<div class="page-box">
						<div class="row">
							<div class="col-sm-8">
								<h2>Inspection Report Introduction</h2>
								<p>
									The Food Official Inspection Report (FOIR) Reference Guide was developed to assist food service operators in understanding the inspection report and the items marked on the report. The intention of this publication is for use as a reference guide for the FOIR and is not intended to address all circumstances that may be found in a food facility.
								</p>
								<p>
									The Reference Guide follows the three (3) sections of the Food Official Inspection Report, depicted on the following page:
								</p>
								<p>
									<span class="bold-red">Critical Risk Factors, shaded in red,</span> would be marked if high risk violations are observed. A violation in this section can be considered major, with a 4 point deduction or minor, with a 2 point deduction. A major violation poses an imminent health hazard that warrants immediate correction and may require closure of the food facility. A minor violation does not pose an imminent health hazard, but does warrant correction.
								</p>
								<p>
									On June 19, 2015, the County of Los Angeles Board of Supervisors passed a Board Motion, requesting the Department of Public Health to modify the retail food facility grading system in Los Angeles County.
								</p>
								<p>
									As a result, if two or more major <span class="bold-red">Critical Risk Violations</span> are marked, an additional three (3) points will be deducted from the restaurant or market inspection score. If the restaurant’s or market’s permit is suspended due to no water available, sewage, or vermin infestation, an additional seven (7) points will be deducted for each of the three specified closure types marked. These point deductions are effective July 2016. However, the Department is granting a six-month grace period until it is fully implemented.
								</p>
								<p>
									As a result, if two or more major Critical Risk Violations are marked, an additional three (3) points will be deducted from the restaurant or market inspection score. If the restaurant’s or market’s permit is suspended due to no water available, sewage, or vermin infestation, an additional seven (7) points will be deducted for each of the three specified closure types marked. These point deductions are effective July 2016. However, the Department is granting a six-month grace period until it is fully implemented.
								</p>
								<br />
								<br />
							</div>
						</div>
					</div>
					<div class="page-box">
						<div class="row">
							<div class="col-sm-8">
								<h2>Summary of <span class="bold-red">CRITICAL</span> and <span class="bold-red">MAJOR</span> Categories <span class="bold-red">ONLY</span></h2>
								<p>
									<h4>Communicable disease; reporting, restrictions, and exclusions
									This subcategory is marked MAJOR when:</h4>
									<ul>
									<li> The Person In Charge (PIC) is aware of a food employee who has been diagnosed with an “illness” as
									listed in Section 113949.1 and has not notified the enforcement agency.</li>
									<li> The PIC is aware that two or more food employees are concurrently experiencing symptoms associated
									with an acute gastrointestinal illness and has not reported it to the local enforcement agency.</li>
									<li> The PIC has not excluded a food employee with an “illness” as required.</li>
									<li> The PIC has been made aware of a food employee who is suffering from an acute gastrointestinal illness
									and has not restricted the duties of the food employee.</li>
									<li> The PIC removes a restriction of a food employee before resolution of symptoms of acute gastrointestinal
    							illness.</li>
									<li> The PIC removes exclusion of food employee prior to receiving clearance.</li>
									<li> A food employee does not inform the PIC of a lesion or wound on their hand that is exposed and not
									properly protected with an impermeable cover and single use glove.</li>
									<li>“Illness” includes Salmonella typhi, Salmonella spp., Entamoeba histolytica, Enterohemorrhagic or shiga toxin producing Escherichia coli, Hepatitis A virus, Norovirus, or other communicable diseases that are transmissible through food.
									Additional Violations:</li>
									<li> Contamination of food by an infected food employee will result in disposal of the food and be marked in
									subcategory #13 (Food in good condition, safe and unadulterated).</li>

								</ul>
								</p>
								<br />

								<p>
								<h4>	Hands clean and properly washed; proper glove use</h4>
								This subcategory is marked MAJOR if any of the following violations are observed:
								<li> Food employees in a facility handling open food are unable to wash their hands due to the lack of soap or
								paper towels and handwashing supplies are not available by the end of the inspection. (CLOSURE)</li>
								<li> A food employee not washing their hands after using the toilet and either puts on gloves for working with
								food or handles food, equipment, utensils, linen, or tableware.</li>
								<li> A food employee preparing raw chicken fails to wash their hands prior to handling clean tableware or
								ready-to-eat food.</li>
								<li> A food employee using hand sanitizer instead of washing their hands.</li>
								<li> A food employee fails to change gloves when handwashing would normally be required.</li>
								<li> A food employee not washing their hands after sneezing, coughing, eating, drinking, or using tobacco</li>
								products and either puts on gloves for working with food or resumes preparing food.
								<li> A food employee with an open wound/lesion not wearing an impermeable cover and gloves for
								lesions at the hand or wrist, or an impermeable cover for lesions at the arms.</li>
								<li> A food employee washing hands while wearing single-use gloves or donning previously worn single-use
								gloves.</li>
								</p>
								<br />

								<p>
								<h4>	Proper hot and cold holding temperatures </h4>
								This subcategory is marked MAJOR if any of the following violations are observed:
								<li> Multiple servings of PHF in hot or cold holding equipment held in the range of 50°F – 130°F.</li>
								<li> Multiple PHF found in the range of 50°F – 130°F exceeding 2 hour preparation time.</li>
								<li> Multiple PHF found in the range of 50°F – 130°F exceeding 30 minute transport to the facility.</li>
								<li> During thawing process, PHF in the range of 50°F – 130°F in excess of 2 hours.</li>
								<li> Pooled eggs held at temperatures of 50°F – 130°F that has exceeded the 2 hour limit for food
								preparation.</li>
								<li> Korean rice cake found in the range of 50°F – 130°F AND has exceeded the 24 hour time period, or is
								missing the required label/label information.</li>
								<li> Asian rice-based noodle found in the range of 50°F – 130°F AND has exceeded the 4 hour time period,
								or is missing the required label/label information.</li>
								</p>
								<br />

								<p>
								<h4>	Proper cooling methods </h4>
								 This subcategory is marked MAJOR when:
								 <li> PHF is not cooled rapidly from 135°F to 70°F within two (2) hours (e.g., pot of cooked beans found at
								 90°F cooling for >2 hours using approved or unapproved method).</li>
								 <li> PHF is not cooled from 70°F to 41°F within 4 hours (e.g., roast found at 60°F cooling for >6 hours using
								 approved or unapproved method).</li>
								 <li> After heating or hot holding, potentially hazardous food is not cooled rapidly from 135°F to 41°F or below
								 within six (6) hours.</li>
								 <li> PHF is not cooled within 4 hours to 41°F if prepared from ingredients at ambient temperature.</li>
								 <li> Deliveries of PHF not cooled to below 41°F within 4 hours if received between 41°F to 45°F.</li>
								</p>
								<br />

								<p>
								<h4>Proper cooking time and temperature</h4>
								This subcategory is marked MAJOR if the following violation is observed:
								<li> Cooking process did not meet required cooking temperatures (i.e., cooked fruits and vegetables for hot
								holding: 135°F; eggs prepared for immediate service, fish, single pieces of meat: 145°F; comminuted meats, ratites, eggs prepared from pooled eggs or for hot holding: 155°F; poultry, comminuted poultry, stuffed meats, stuffing containing meats: 165°F) and an employee attempts to serve the product without returning the product to the cooking process.</li>
								</p>
								<br />

								<p>
							 <h4>Proper reheating procedures for hot holding</h4>
							 This subcategory is marked MAJOR if any of the following violations are observed:
							 <li> PHF is not rapidly reheated within 2 hours to 165°F for 15 seconds for hot holding such as re-heating in a
							 steam table (e.g., previously cooked and cooled stew being reheated for hot holding has exceeded the 2 hour time limit without reaching a minimum internal temperature of 165°F for 15 seconds).</li>
							 <li> PHF is reheated in a microwave to 165°F and the food is not rotated or stirred, covered, and not allowed to stand covered for two minutes after reheating.</li>
							 <li> Commercially processed ready-to-eat PHF is not reheated to 135°F or above within 2 hours for hot holding.</li>
							 <li> Remaining unsliced portions of roasts are not reheated for hot holding to the required minimum temperature.</li>
								</p>
								<br />

								<p>
								<h4>Food in good condition, safe and unadulterated</h4>
								This subcategory is marked MAJOR if any of the following violations are observed:
								<li> A food employee contaminates food by any intentional or unintentional act.</li>
								<li> Sulfites added to potentially hazardous food or fresh fruits/vegetables for raw consumption.</li>
								<li> A foreign object is found in food product (e.g., glass, Band-Aid).</li>
								<li> Rodent, cockroach, or fly adulterated food products.</li>
								<li> Open food products stored inside and in direct contact with the handwashing/janitorial sink.</li>
								<li> A food employee using a utensil to taste food more than once without utensil being properly washed,
								rinsed and sanitized between uses.</li>
								<li> A food employee with illness or open lesion on hands or arm touching food items/preparing food.</li>
								<li> Raw oysters from the Gulf of Mexico are offered for sale during the period from April 1st – October 31st
								and the oysters have not been treated to reduce pathogenic bacteria.</li>
								<li> Refrigerator condensate leaking into open pan of ready-to-eat food.</li>
								<li> Re-using a chemical container for food storage.</li>
								<li> Food on floor in contact with overflowing sewage or waste water.</li>
								<li> W ashing hands over defrosting meat.</li>
								<li> Ground sirloin/round/hamburger exceeds 30% fat content/ground chuck exceeds 26% fat content/ground
								pork exceeds 50% fat content.</li>
								<li> Acidic foods capable of leaching found stored in lead glazed containers.</li>
								<li> Food prepared using reduced oxygen packaging (ROP) (Other than for immediate cooking and removal</li>
								from the package) and the facility does not have or is not adhering to an approved HACCP plan.
								<li> Washing produce in a warewashing compartment without first washing and sanitizing the compartment.</li>
								<li> Numerous shell eggs are broken, unclean, or do not meet Grade B standards.</li>
								<li> Ice that has been used for cooling the exterior surfaces of food such as melon or fish, canned beverages,
								or equipment and is used as food.</li>
								<li> Food cans leaking or swelling.</li>
								</p>
								<br />

								<p>
								<h4>Food-contact surfaces: clean and sanitized</h4>
								This subcategory is marked MAJOR if any of the following violations are observed:
								Food-contact Surfaces
								<li> Failure to clean and sanitize food-contact surfaces every four hours or as required when changing from raw food of animal origin to ready to eat food, between species of raw food of animal origin, between unwashed produce and PHF.</li>
								<li> Food in direct contact with dirty equipment.</li>
								<li> A food employee with illness, or open lesion on hands or arm touching food-contact surfaces.</li>
								<li> Sanitizer level is not detectible or below 50 ppm for Chlorine or below 100 ppm for Quaternary Ammonia
								in bucket used to store wiping cloths.</li>
								<li> Contamination of food-contact surfaces by soiled wiping cloth.</li>
								<li> A non-food grade lubricant used on food-contact surfaces of equipment.</li>
								Manual Warewashing
								<li> Warewashing sink is missing, non-functional, or clogged and no other approved means of cleaning and sanitizing is available. (CLOSURE)</li>
								<li> During active manual warewashing, water temperature in the 1st compartment is below 100°F, or temperature specified by the detergent manufacturer on the instruction label.</li>
								<li> Sanitizer level is not detectible or below 50 ppm for Chlorine or below 100 ppm for Quaternary Ammonia 9
								during active manual warewashing.</li>
								<li> Sanitizing rinse for manual heat sanitizing measures below 171°F.</li>
								<li> No approved detergent-sanitizer used during warewashing at a two-compartment sink.</li>
								Mechanical Warewashing
								<li> Sanitizer level in the final sanitizing rinse is below 50 ppm for Chlorine, below 100 ppm for Quaternary Ammonia, or below required concentration as indicated on the manufacturer’s data plate during active mechanical warewashing.</li>
								<li> Utensil temperature at a heat sanitizing mechanical warewasher measures below 154°F during active warewashing.</li>
								</p>
								<br />

								<p>
									<h4>Food obtained from approved source</h4>
									This subcategory is marked MAJOR if any of the following violations are observed:
									<li> PHF or ice is not from an approved food source, such as meat or cheese tamales that were prepared in a
									private home.</li>
									<li> Molluscan shellfish are not received from source listed in the Interstate Certified Shellfish Shippers list.</li>
									<li> A game animal from an unapproved source, and/or listed in 50 CFR 17 Endangered and Threatened
									Wildlife and Plants, is sold/served at a food facility.</li>
									<li> Liquid, frozen and dry egg products are not obtained pasteurized.</li>
									<li> Frozen milk products, such as ice cream, are not pasteurized.</li>
									<li> Fish is not commercially and legally caught or harvested.</li>
									<li> Food served was prepared at another retail food facility (not a wholesale facility).</li>
									<li> Prepared food is served but there is no cooking equipment on the premises.</li>
									<li> Retail food facility manufacturing yogurt/ice cream without required State Dairy Service approval.</li>
									<li> Invoices for PHFs suspected of being from an unapproved source are not available on site.</li>
								</p>
								<br />

								<p>
									<h4>Water available</h4>
									This subcategory is marked MAJOR if any of the following violations are observed:
									<li> The water supply is contaminated or unapproved. (CLOSURE)</li>
									<li> No adequate, protected, pressurized, potable water is available to the facility. (CLOSURE)</li>
								</p>
								<br />

								<p>
									<h4>Sewage and wastewater properly disposed</h4>
									This subcategory is marked MAJOR if any of the following violations are observed:
									<li> Overflow or backup of floor sinks/drains of sewage/wastewater onto floors in the food preparation areas.
									(CLOSURE)</li>
									<li> Overflowing or clogged grease trap/interceptor. (CLOSURE)</li>
									<li> Open sewer line discharging to the outside of the facility. (CLOSURE)</li>
									<li> Lack of operable toilet facilities. (CLOSURE)</li>
								</p>
								<br />

								<p>
									<h4>No insects, rodents, birds or animals present</h4>
									This subcategory is marked MAJOR if any of the following violations are observed:
									<li> A rodent infestation as evidenced by any of the following: fresh droppings, gnaw marks, nesting materials, grease marks, live or dead rodents in the food preparation, food storage, warewashing areas; indoor customer dining area; or in the restroom. (CLOSURE)</li>
									<li> A cockroach infestation as evidenced by one or more live cockroaches in the food preparation, food storage, warewashing, indoor customer dining area, or restrooms. (CLOSURE)</li>
									<li> Fly infestation as evidenced by numerous flies in food preparation areas contacting food, food-contact surfaces or both. (CLOSURE)</li>
								</p>
								<br />

								<p>

								</p>
								<br />

								<p>

								</p>
								<br />

								<p>

								</p>
								<br />
							</div>
						</div>
						<br />
					</div>
				<!-- About Content Ends -->
				</div>
			<!-- Primary Content Ends -->

			</div>
		<!-- Nested Row Ends -->
		</div>
	<!-- Main Container Ends -->
