<!-- Main Container Starts -->
	<div id="main-container" class="container">
	<!-- Breadcrumb Starts -->
		<ol class="breadcrumb">
			<li><%= link_to "Home", root_path  %></li>
			<li><%= controller_name %></li>
			<li class="active"><%= params[:action] %></li>
		</ol>
		<!-- Breadcrumb Ends -->
		<!-- Nested Row Starts -->
			<div class="row">
			<!-- Sidebar Starts -->
				<div class="col-md-3 col-xs-12">
				<!-- Categories Links Starts -->
					<h3 class="side-heading">Help Pages</h3>
					<div class="list-group categories">
						<%= link_to "California Health and Safety Code", abouts_about_health_path, class: "list-group-item" %>
						<%= link_to "Becoming a Cook", abouts_about_cook_path, class: "list-group-item" %>
	          <%= link_to "Delivery and Pickup", abouts_about_delivery_path, class: "list-group-item" %>
	          <%= link_to "Payments and Refunds", abouts_about_payment_path, class: "list-group-item" %>
					</div>
				<!-- Categories Links Ends -->
				</div>
			<!-- Sidebar Ends -->
			<!-- Primary Content Starts -->
				<div class="col-md-9 col-xs-12">
				<!-- About Content Starts -->
					<div class="page-box">
						<div class="row">
							<div class="col-sm-8">
								<h2>Delivery</h2>
								<h4></h4>
								<p>
									You have the choice to allow customers to pickup your meals or have you deliver it.
									Please be aware that you are responsible for timely delivery of all orders if you choose to deliver.
									Please make sure you are aware of the time and location of the order in advanced.
								</p>
							</div>
					</div>
				<!-- About Content Ends -->
					<hr />
	        <!-- About Content Starts -->
	          <div class="page-box">
	            <div class="row">
	              <div class="col-sm-8">
	                <h2>Pickup</h2>
	                <h4></h4>
	                <p>
										Please make sure to have all customers orders ready 15 minutes before the customer specified time of pickup.
	                  E.g. For a meal with an availability time from 4 PM to 7 PM. The customer can specify a pickup time of 4 PM and
										pickup the order at 3:45 PM. 
	                </p>
	              </div>
	          </div>
	        <!-- About Content Ends -->
				</div>
			<!-- Primary Content Ends -->

			</div>
		<!-- Nested Row Ends -->
		</div>
	<!-- Main Container Ends -->
