<!-- Main Container Starts -->
	<div id="main-container" class="container">
	<!-- Breadcrumb Starts -->
		<ol class="breadcrumb">
			<li><%= link_to "Home", root_path  %></li>
      <li><%= controller_name %></li>
      <li class="active"><%= params[:action] %></li>
		</ol>
	<!-- Breadcrumb Ends -->
	<!-- Main Heading Starts -->
		<h2 class="main-heading text-center">
			Payout Request <br />
		</h2>
	<!-- Main Heading Ends -->

  <!-- Registration Section Starts -->
    <section class="registration-area">
      <div class="row">
        <div class="col-sm-6">
          <!-- Registration Block Starts -->
            <div class="panel panel-smart">
              <div class="panel-heading">
                <h3 class="panel-title">Request Info</h3>
              </div>
              <div class="panel-body">
                <!-- Registration Form Starts -->
                <!-- Personal Information Starts -->
                <%= form_for(@withdraw_form,  html: { class: "form-horizontal"})  do |f| %>
                <div class="form-group">
                  <%= f.label "Name", class: "col-sm-3 control-label"%>
                  <div class="col-sm-9">
                    <%= f.text_field :name, class: "form-control", autocomplete: "name", :required => true, placeholder: "Name" %>
                  </div>
                </div>

                <div class="form-group">
                  <%= f.label "Account Email", class: "col-sm-3 control-label"%>
                  <div class="col-sm-9">
                    <%= f.email_field :account_email, autofocus: true, class: "form-control", autocomplete: "email", :required => true, placeholder: "Email" %>
                  </div>
                </div>

                <div class="form-group">
                  <%= f.label "Paypal Email (Faster Option)", class: "col-sm-3 control-label"%>
                  <div class="col-sm-9">
                    <%= f.email_field :paypal_email, autofocus: true, class: "form-control", autocomplete: "paypal_email", placeholder: "Paypal Email" %>
                  </div>
                </div>

                <div class="form-group">
                  <%= f.label "Mailing Address (If you prefer a check)", class: "col-sm-3 control-label"%>
                  <div class="col-sm-9">
                    <%= f.text_area :address, autofocus: true, class: "form-control", autocomplete: "address", placeholder: "Name, Street, City, State, Zip" %>
                  </div>
                </div>

                <div class="form-group">
                  <%= f.label "Amount Requested", class: "col-sm-3 control-label"%>
                  <div class="col-sm-9">
                    <%= f.text_field :amount_in_cents, class: "form-control", :required => true, placeholder: "Amount" %>
                  </div>
                </div>

                <div class= "hidden"><br />
                  <%= f.text_field :nickname, :hint => 'Leave this field blank!' %>
                </div>

                  <div>
                    </br>
                    <%= f.submit 'Submit Request', :class=> "btn btn-primary" %>
                  </div>
                <% end %>
              </div>
            </div>
            <!-- Registration Block Ends -->
        </div>
      </div>
    </section>
    <!-- Registration Section Ends -->

</div>
<!-- Main Container Ends -->
