<!DOCTYPE html>
	<head>
	<%= stylesheet_link_tag 'application', media: 'all' %>
	<%= javascript_include_tag 'application' %>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Cooked.Me</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Delicious food cooked by your neighbors" />
	<meta name="keywords" content="food, cooking, meal, neighbors, delivery" />
	<meta name="author" content="Avan Sardar" />


	<!-- Bootstrap Core CSS -->
	<!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->

	<!-- Google Web Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i" rel="stylesheet">

	<!-- CSS Files -->
	<!-- <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link href="css/owl.carousel.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/responsive.css" rel="stylesheet"> -->

	<!--[if lt IE 9]>
		<script src="js/ie8-responsive-file-warning.js"></script>
	<![endif]-->

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->

	<!-- Fav and touch icons -->
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/fav-144.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/fav-114.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/fav-72.png">
	<link rel="apple-touch-icon-precomposed" href="images/fav-57.png">
	<link rel="shortcut icon" href="images/fav.png">
	</head>
	<body>
	<!-- Header Section Starts -->
	<header class="header-area">
	<!-- Header Top Starts -->
		<div class="header-top text-uppercase">
		<!-- Nested Container Starts -->
			<div class="container">
			<!-- Nested Row Starts -->
				<div class="row">
				<!-- Currency & Languages Starts -->
					<div class="col-sm-3 col-xs-12" style="visibility: hidden;">
						<div class="pull-left">
						<!-- Languages Starts -->
							<div class="btn-group">
								<button class="btn btn-link dropdown-toggle  text-uppercase" data-toggle="dropdown">
									Eng
									<i class="fa fa-caret-down"></i>
								</button>
								<ul class="pull-left dropdown-menu">
									<li>
										<a tabindex="-1" href="#">English</a>
									</li>
									<li>
										<a tabindex="-1" href="#">French</a>
									</li>
								</ul>
							</div>
						<!-- Languages Ends -->
						<!-- Currency Starts -->
							<div class="btn-group">
								<button class="btn btn-link dropdown-toggle text-uppercase" data-toggle="dropdown">
									$
									<i class="fa fa-caret-down"></i>
								</button>
								<ul class="pull-left dropdown-menu">
									<li><a tabindex="-1" href="#">Pound </a></li>
									<li><a tabindex="-1" href="#">US Dollar</a></li>
									<li><a tabindex="-1" href="#">Euro</a></li>
								</ul>
							</div>
						<!-- Currency Ends -->
						</div>
					</div>
				<!-- Currency & Languages Ends -->
				<!-- Header Links Starts -->
				<nav id="main-menu" class="navbar" role="navigation">
					<!-- Nested Container Starts -->
					<div class="container">
						<!-- Nav Header Starts -->
							<div class="navbar-header">
								<button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-cat-collapse">
									<span class="sr-only">Toggle Navigation</span>
									<i class="fa fa-bars"></i>
								</button>
							</div>
						<!-- Nav Header Ends -->
						<!-- Navbar Cat collapse Starts -->
						<div class="collapse navbar-collapse navbar-cat-collapse">
							<ul class="nav navbar-nav">
									<li><a href="/">Home</a></li>
									<% if user_signed_in? %>
										<li class="dropdown">
											<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="10">
												My Account
											</a>
											<ul class="dropdown-menu" role="menu">
												<li><%= link_to 'Profile', edit_user_registration_path %></li>
												<li><%= link_to "My Orders", orders_path %></li>
								    	</ul>
										</li>
										<li><%= link_to "Logout", destroy_user_session_path,  { method: :delete} %></li>
									<% elsif cook_signed_in? %>
										<li class="dropdown">
											<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="10">
												My Account
											</a>
											<ul class="dropdown-menu" role="menu">
												<li><%= link_to 'Edit Profile', edit_cook_registration_path %></li>
												<li><%= link_to "Offer Meal", new_meal_path %></li>
												<li><%= link_to "My Meals", meals_path  %></li>
												<li><%= link_to "My Orders", orders_path  %></li>
												<li><%= link_to "Request Payout", withdraw_forms_new_path  %></li>
											</ul>
										</li>
										<li><%= link_to "Logout", destroy_cook_session_path,  { method: :delete} %></li>
									<% elsif admin_signed_in? %>
									<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="10">
											Admin Dashboard
										</a>
										<ul class="dropdown-menu" role="menu">
											<li><%= link_to "Meals", meals_path %></li>
											<li><%= link_to "Orders", orders_path  %></li>
											<li><%= link_to "Users", users_path  %></li>
											<li><%= link_to "Cooks", cooks_path  %></li>
											<li><%= link_to "Payouts", payouts_path  %></li>
										</ul>
									</li>
									<li><%= link_to "Logout", destroy_admin_session_path,  { method: :delete} %></li>
									<% else %>
									<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="10">
											Sign Up
										</a>
										<ul class="dropdown-menu" role="menu">
											<li><%= link_to "User", new_user_registration_path  %></li>
											<li><%= link_to "Cook", new_cook_registration_path%></li>
										</ul>
									</li>
									<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="10">
											Login
										</a>
										<ul class="dropdown-menu" role="menu">
											<li><%= link_to "User", new_user_session_path  %></li>
											<li><%= link_to "Cook", new_cook_session_path %></li>
										</ul>
									</li>
									<% end %>
								</ul>
							</div>
						<!-- Navbar Cat collapse Ends -->
						</div>
					<!-- Nested Container Ends -->
					</nav>
				<!-- Main Menu Ends -->
			</div>
		<!-- Nested Row Ends -->
		</div>
	<!-- Nested Container Ends -->
	</div>
	<!-- Main Header Starts -->
		<div class="main-header">
		<!-- Nested Container Starts -->
			<div class="container">
			<!-- Nested Row Starts -->
				<div class="row">
				<!-- Toll Free No Starts -->
					<div class="col-md-3 col-sm-4 col-xs-12 text-center">
						<h5>Neighborly and Wholesome</h5>
						<h6 class="text-uppercase">Home Cooked Meals Near You</h6>
					</div>
				<!-- Toll Free No Ends -->

				<!-- Logo Starts -->
					<div class="col-md-6 col-sm-4 col-xs-12">
						<div id="logo">
							<a href="/">Cooked.Me</a>
						</div>
					</div>
				<!-- Logo Ends -->

				<!-- Search Starts -->
					<div class="col-md-3 col-sm-4 col-xs-12" style="visibility: hidden;">
						<div id="search">
							<div class="input-group">
								<input type="text" class="form-control input-lg text-uppercase" placeholder="Search">
								<span class="input-group-btn">
								<button class="btn btn-lg" type="button">
									<i class="fa fa-search"></i>
								</button>
								</span>
							</div>
						</div>
					</div>
				<!-- Search Ends -->
				</div>
			<!-- Nested Row Ends -->
			</div>
		<!-- Nested Container Ends -->
		</div>
	<!-- Main Header Ends -->
	<!-- Nested Container Starts -->
	<div class="container"></div>
	</header>
	<!-- Header Section Ends -->



<%= yield %>



	<!-- Footer Section Starts -->
	<footer id="footer-area">
	<!-- Footer Links Starts -->
		<div class="footer-links">
		<!-- Container Starts -->
			<div class="container">
			<!-- Nested Row Starts -->
				<div class="row">
				<!-- Foot Col#1 Starts -->
					<div class="col-md-4 col-xs-12">
						<h5>Sign Up For Weekly Meal Deals</h5>
						<div class="foot-subscription-form">
							<div class="input-group">
								<input type="text" class="form-control text-uppercase" placeholder="Your Email Address">
								<span class="input-group-btn">
								<button class="btn text-uppercase" type="button">
									Subscribe
								</button>
								</span>
							</div>
						</div>
						<h5>Stay Connected</h5>
						<ul class="list-unstyled list-inline foot-sm-links">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li style="display: none;"><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li style="display: none;"><a href="#"><i class="fa fa-google-plus"></i></a></li>
							<li style="display: none;"><a href="#"><i class="fa fa-pinterest"></i></a></li>
							<li style="display: none;"><a href="#"><i class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
				<!-- Foot Col#1 Ends -->
				<!-- My Account Starts -->
					<div class="col-md-4 col-sm-4 col-xs-12">
						<h5>Info Center</h5>
						<ul>
							<li><a href="#">Becoming a Cook</a></li>
							<li><a href="#">Delivery and Pickup</a></li>
							<li><a href="#">Payments and Refunds</a></li>
							<li><a href="#">California Health and Safety Code</a></li>
						</ul>
					</div>
				<!-- My Account Ends -->
				<!-- Customer Service Starts -->
					<div class="col-md-2 col-sm-4 col-xs-12" style="display:none;">
						<h5>Customer Service</h5>
						<ul>
							<li><a href="contact.html">Contact Us</a></li>
							<li><a href="#">Returns</a></li>
							<li><a href="#">Site Map</a></li>
							<li><a href="#">Affiliates</a></li>
							<li><a href="#">Specials</a></li>
						</ul>
					</div>
				<!-- Customer Service Ends -->
				<!-- Contact Us Starts -->
					<div class="col-md-4 col-sm-4 col-xs-12 last">
						<h5>Contact Us</h5>
						<ul>
							<li>
								Lawndale, CA
							</li>
							<li>
								Email: hello@cooked.me
							</li>
						</ul>
						<div class="foot-contact-form">
							<% if notice %>
								<p id="notice"><%= notice %></p>
							<% else %>
								<%= form_for @contact, url: contact_create_path  do |f| %>
									<div class="input-group email">
										<%= f.text_field :name, :required => true, class: "form-control text-uppercase", placeholder: "Name"%>
									</div>
									<div class="input-group email">
										<%= f.email_field :email, :required => true, class: "form-control text-uppercase", placeholder: "Your Email Address"%>
									</div>
									<div class="input-group message">
										<%= f.text_field :message, :as => :text, :required => true,  class: "form-control text-uppercase", placeholder:"Message" %>
									</div>
									<div class= "hidden"><br />
										<%= f.text_field :nickname, :hint => 'Leave this field blank!' %>
									</div>
									<div>
										<%= f.submit 'Send Message', :class=> "btn text-uppercase" %>
									</div>
								<% end %>
							<% end %>
						</div>
						<h4 class="lead" style="display: none;">
							Tel: <span>1(234) 567-9842</span>
						</h4>
					</div>
				<!-- Contact Us Ends -->
				</div>
			<!-- Nested Row Ends -->
			</div>
		<!-- Container Ends -->
		</div>
	<!-- Footer Links Ends -->
	<!-- Copyright Area Starts -->
		<div class="copyright">
		<!-- Container Starts -->
			<div class="container">
			<!-- Starts -->
				<p class="pull-left">
					&copy; 2017 Food Bingo Stores. Designed By <a href="http://sainathchillapuram.com">Sainath Chillapuram</a>
				</p>
				<p class="pull-right">
					&copy; 2018 Cooked.Me
				</p>
			<!-- Ends -->
			<!-- Payment Gateway Links Starts -->
				<ul class="list-inline">
					<li style="display: none;">
						<%= image_tag("images/payment-icon/cirrus.png", alt:"PaymentGateway") %>
					</li>
					<li style="display: none;">
						<%= image_tag("images/payment-icon/paypal.png", alt:"PaymentGateway") %>
					</li>
					<li>
						<%= image_tag("images/payment-icon/visa.png", alt:"PaymentGateway") %>
					</li>
					<li>
						<%= image_tag("images/payment-icon/mastercard.png", alt:"PaymentGateway") %>
					</li>
					<li>
						<%= image_tag("images/payment-icon/americanexpress.png", alt:"PaymentGateway") %>
					</li>
				</ul>
			<!-- Payment Gateway Links Ends -->
			</div>
		<!-- Container Ends -->
		</div>
	<!-- Copyright Area Ends -->
	</footer>
	<!-- Footer Section Ends -->

	<!-- JavaScript Files -->
	<!-- <script src="js/jquery-1.11.1.min.js"></script>
	<script src="js/jquery-migrate-1.2.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/bootstrap-hover-dropdown.min.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	 <script src="js/custom.js"></script>  -->


  </body>
</html>
