<!DOCTYPE html>
	<head>
	<%= stylesheet_link_tag 'application', media: 'all' %>
	<%= javascript_include_tag 'application' %>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Cooked Nearby </title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Delicious food cooked by your neighbors" />
	<meta name="keywords" content="food, cooking, meal, neighbors, delivery" />
	<meta name="author" content="Avan Sardar" />


	<!-- Bootstrap Core CSS -->
	<!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->

	<!-- Google Web Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i" rel="stylesheet">

	<!-- CSS Files -->
	<!-- <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link href="css/owl.carousel.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/responsive.css" rel="stylesheet"> -->

	<!--[if lt IE 9]>
		<script src="js/ie8-responsive-file-warning.js"></script>
	<![endif]-->

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->

	<!-- Fav and touch icons -->
	<!-- <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/fav-144.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/fav-114.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/fav-72.png">
	<link rel="apple-touch-icon-precomposed" href="images/fav-57.png">
	<link rel="shortcut icon" href="images/fav.png"> -->
	</head>
	<body>
	<!-- Header Section Starts -->
	<header class="header-area">
	<!-- Header Top Starts -->
		<div class="header-top text-uppercase">
		<!-- Nested Container Starts -->
			<div class="container">
			<!-- Nested Row Starts -->
				<div class="row">
					<p id="notice">
					<% flash.each do |name, msg| %>
					  <% if msg.class == Array %>
					    <% msg.each do |message| %>
					      <%= content_tag :div, message, id: "flash_#{name}", class: "bold-yellow" %>
					    <% end %>
					  <% else %>
					    <%= content_tag :div, msg, id: "flash_#{name}", class: "bold-yellow" %>
					  <% end  #don't forget the extra end %>
					<% end %>
					</p>

				<!-- Currency & Languages Starts -->
					<div class="col-sm-3 col-xs-12" style="visibility: hidden;">
						<div class="pull-left">
						<!-- Languages Starts -->
							<div class="btn-group">
								<button class="btn btn-link dropdown-toggle  text-uppercase" data-toggle="dropdown">
									Eng
									<i class="fa fa-caret-down"></i>
								</button>
								<ul class="pull-left dropdown-menu">
									<li>
										<a tabindex="-1" href="#">English</a>
									</li>
									<li>
										<a tabindex="-1" href="#">French</a>
									</li>
								</ul>
							</div>
						<!-- Languages Ends -->
						<!-- Currency Starts -->
							<div class="btn-group">
								<button class="btn btn-link dropdown-toggle text-uppercase" data-toggle="dropdown">
									$
									<i class="fa fa-caret-down"></i>
								</button>
								<ul class="pull-left dropdown-menu">
									<li><a tabindex="-1" href="#">Pound </a></li>
									<li><a tabindex="-1" href="#">US Dollar</a></li>
									<li><a tabindex="-1" href="#">Euro</a></li>
								</ul>
							</div>
						<!-- Currency Ends -->
						</div>
					</div>
				<!-- Currency & Languages Ends -->
				<!-- Header Links Starts -->
				<nav id="main-menu" class="navbar" role="navigation">
					<!-- Nested Container Starts -->
					<div class="container">
						<!-- Nav Header Starts -->
							<div class="navbar-header">
								<button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-cat-collapse">
									<span class="sr-only">Toggle Navigation</span>
									<i class="fa fa-bars"></i>
								</button>
							</div>
						<!-- Nav Header Ends -->
						<!-- Navbar Cat collapse Starts -->
						<div class="collapse navbar-collapse navbar-cat-collapse">
							<ul class="nav navbar-nav">
									<li><a href="/">Home</a></li>
									<% if user_signed_in? %>
										<li class="dropdown">
											<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="10">
												My Account
											</a>
											<ul class="dropdown-menu" role="menu">
												<li><%= link_to 'Profile', edit_user_registration_path %></li>
												<li><%= link_to "My Orders", orders_path %></li>
								    	</ul>
										</li>
										<li><%= link_to "Logout", destroy_user_session_path,  { method: :delete} %></li>
									<% elsif cook_signed_in? %>
										<li class="dropdown">
											<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="10">
												My Account
											</a>
											<ul class="dropdown-menu" role="menu">
												<li><%= link_to 'Edit Profile', edit_cook_registration_path %></li>
												<li><%= link_to "Offer Meal", new_meal_path %></li>
												<li><%= link_to "My Meals", meals_path  %></li>
												<li><%= link_to "My Orders", orders_path  %></li>
												<li><%= link_to "Request Payout", withdraw_forms_new_path  %></li>
											</ul>
										</li>
										<li><%= link_to "Logout", destroy_cook_session_path,  { method: :delete} %></li>
									<% elsif admin_signed_in? %>
									<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="10">
											Admin Dashboard
										</a>
										<ul class="dropdown-menu" role="menu">
											<li><%= link_to "Meals", admin_meals_path %></li>
											<li><%= link_to "Orders", admin_orders_path  %></li>
											<li><%= link_to "Users", admin_users_path  %></li>
											<li><%= link_to "Cooks", admin_cooks_path  %></li>
											<li><%= link_to "Payouts", admin_payouts_path  %></li>
											<li><%= link_to "Reviews", admin_reviews_path  %></li>
										</ul>
									</li>
									<li><%= link_to "Logout", destroy_admin_session_path,  { method: :delete} %></li>
									<% else %>
									<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="10">
											Sign Up
										</a>
										<ul class="dropdown-menu" role="menu">
											<li><%= link_to "User", new_user_registration_path  %></li>
											<li><%= link_to "Cook", new_cook_registration_path%></li>
										</ul>
									</li>
									<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="10">
											Login
										</a>
										<ul class="dropdown-menu" role="menu">
											<li><%= link_to "User", new_user_session_path  %></li>
											<li><%= link_to "Cook", new_cook_session_path %></li>
										</ul>
									</li>
									<% end %>
								</ul>
							</div>
						<!-- Navbar Cat collapse Ends -->
						</div>
					<!-- Nested Container Ends -->
					</nav>
				<!-- Main Menu Ends -->
			</div>
		<!-- Nested Row Ends -->
		</div>
	<!-- Nested Container Ends -->
	</div>
	<!-- Main Header Starts -->
		<div class="main-header">
		<!-- Nested Container Starts -->
			<div class="container">
			<!-- Nested Row Starts -->
				<div class="row">
				<!-- Toll Free No Starts -->
					<div class="col-md-3 col-sm-4 col-xs-12 text-center">
						<h5>Neighborly and Wholesome</h5>
						<h6 class="text-uppercase">Home Cooked Meals Near You</h6>
					</div>
				<!-- Toll Free No Ends -->

				<!-- Logo Starts -->
					<div class="col-md-6 col-sm-4 col-xs-12">
						<div id="logo">
							<%= link_to "Cooked Nearby", root_path  %>
						</div>
					</div>
				<!-- Logo Ends -->


				<!-- Search Starts -->
					<div class="col-md-3 col-sm-4 col-xs-12" style="visibility: hidden;">
						<div id="search">
							<div class="input-group">
								<input type="text" class="form-control input-lg text-uppercase" placeholder="Search">
								<span class="input-group-btn">
								<button class="btn btn-lg" type="button">
									<i class="fa fa-search"></i>
								</button>
								</span>
							</div>
						</div>
					</div>
				<!-- Search Ends -->
				</div>
			<!-- Nested Row Ends -->
			</div>
		<!-- Nested Container Ends -->
		</div>
	<!-- Main Header Ends -->
	<!-- Nested Container Starts -->
	<div class="container right-content">
		<% if cook_signed_in? %>
			<span class="white-font">Welcome  <%= current_cook.first_name %>! You have a balance of  </span>
			<% if current_cook.balance %>
				<span class="balance"> $<%= (current_cook.balance / 100).round(2) %></span>
			<% else %>
				<span class="balance"> $0.00</span>
			<% end %>
		<% end %>
		<% if user_signed_in? %>
			<span class="white-font">Welcome  <%= current_user.first_name %>! </span>
		<% end %>
</div>
	</header>
	<!-- Header Section Ends -->
<div id="fb-root"></div>


<%= yield %>



	<!-- Footer Section Starts -->
	<footer id="footer-area">
	<!-- Footer Links Starts -->
		<div class="footer-links">
		<!-- Container Starts -->
			<div class="container">
			<!-- Nested Row Starts -->
				<div class="row">
				<!-- Foot Col#1 Starts -->
					<div class="col-md-4 col-xs-12">
						<h5>Sign Up For Weekly Meal Deals</h5>

						<% if flash[:notice_subscribe] %>
							<p id="notice" class="bold-red"><%= flash[:notice_subscribe] %></p>
						<% else %>
							<%= form_for @contact, url: subscribe_create_path(@contact, :anchor => 'footer-area')  do |f| %>
								<div class="foot-subscription-form">
									<div class="input-group">
										<div class="input-group email hidden">
											<%= f.text_field :name, :required => true, class: "form-control text-uppercase", placeholder: "Name", value: "Website User" %>
										</div>
										<div class="input-group message hidden">
											<%= f.text_field :message, :as => :text, :required => true,  class: "form-control text-uppercase", placeholder:"Message", value: "Subscribe Me"%>
										</div>
										<div class= "hidden"><br />
											<%= f.text_field :nickname, :hint => 'Leave this field blank!' %>
										</div>
										<%= f.email_field :email, :required => true, class: "form-control text-uppercase", placeholder: "Your Email Address"%>
										<span class="input-group-btn">
											<%= f.submit 'Subscribe', :class=> "btn text-uppercase" %>
										</span>
									</div>
								</div>
							<% end %>
						<% end %>

						<h5>Stay Connected</h5>
						<ul class="list-unstyled list-inline foot-sm-links">
							<li><a href="http://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
							<li style="display: none;"><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li style="display: none;"><a href="#"><i class="fa fa-google-plus"></i></a></li>
							<li style="display: none;"><a href="#"><i class="fa fa-pinterest"></i></a></li>
							<li style="display: none;"><a href="#"><i class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
				<!-- Foot Col#1 Ends -->
				<!-- My Account Starts -->
					<div class="col-md-4 col-sm-4 col-xs-12">
						<h5>Info Center</h5>
						<ul>
							<li><%= link_to "California Health and Safety Code", abouts_about_health_path %></li>
							<li><%= link_to "Becoming a Cook", abouts_about_cook_path %></li>
							<li><%= link_to "Delivery and Pickup", abouts_about_delivery_path %></li>
							<li><%= link_to "Payments and Refunds", abouts_about_payment_path %></li>
						</ul>
					</div>
				<!-- My Account Ends -->
				<!-- Customer Service Starts -->
					<div class="col-md-2 col-sm-4 col-xs-12" style="display:none;">
						<h5>Customer Service</h5>
						<ul>
							<li><a href="contact.html">Contact Us</a></li>
							<li><a href="#">Returns</a></li>
							<li><a href="#">Site Map</a></li>
							<li><a href="#">Affiliates</a></li>
							<li><a href="#">Specials</a></li>
						</ul>
					</div>
				<!-- Customer Service Ends -->
				<!-- Contact Us Starts -->
					<div class="col-md-4 col-sm-4 col-xs-12 last">
						<h5>Have a Question or Concern?</h5>
						<ul>
							<li>
								<%= link_to "Contact Us", contacts_path %>
							</li>
						<h4 class="lead" style="display: none;">
							Tel: <span>1(234) 567-9842</span>
						</h4>
					</div>
				<!-- Contact Us Ends -->
				</div>
			<!-- Nested Row Ends -->
			</div>
		<!-- Container Ends -->
		</div>
	<!-- Footer Links Ends -->
	<!-- Copyright Area Starts -->
		<div class="copyright">
		<!-- Container Starts -->
			<div class="container">
			<!-- Starts -->
				<p class="pull-left">
					&copy; 2017 Food Bingo Stores. Designed By <a href="http://sainathchillapuram.com">Sainath Chillapuram</a>
				</p>
				<p class="pull-right">
					&copy; 2018 CookedNearby.Com
				</p>
			<!-- Ends -->
			<!-- Payment Gateway Links Starts -->
				<ul class="list-inline">
					<li style="display: none;">
						<%= image_tag("images/payment-icon/cirrus.png", alt:"PaymentGateway") %>
					</li>
					<li style="display: none;">
						<%= image_tag("images/payment-icon/paypal.png", alt:"PaymentGateway") %>
					</li>
					<li>
						<%= image_tag("images/payment-icon/visa.png", alt:"PaymentGateway") %>
					</li>
					<li>
						<%= image_tag("images/payment-icon/mastercard.png", alt:"PaymentGateway") %>
					</li>
					<li>
						<%= image_tag("images/payment-icon/americanexpress.png", alt:"PaymentGateway") %>
					</li>
				</ul>
			<!-- Payment Gateway Links Ends -->
			</div>
		<!-- Container Ends -->
		</div>
	<!-- Copyright Area Ends -->
	</footer>
	<!-- Footer Section Ends -->
  </body>
</html>
