<!-- Main Container Starts -->
	<div id="main-container" class="container">
	<!-- Breadcrumb Starts -->
		<ol class="breadcrumb">
			<li><%= link_to "Home", root_path  %></li>
      <li><%= controller_name %></li>
      <li class="active"><%= params[:action] %></li>
		</ol>
	<!-- Breadcrumb Ends -->
	<!-- Main Heading Starts -->
		<h2 class="main-heading text-center">
			Sign Up <br />
			<span>Create New Account</span>
		</h2>
	<!-- Main Heading Ends -->
	<!-- Registration Section Starts -->
		<section class="registration-area">
			<div class="row">
				<div class="col-sm-6">
				<!-- Registration Block Starts -->
					<div class="panel panel-smart">
						<div class="panel-heading">
							<h3 class="panel-title">Sign Up Info</h3>
						</div>
						<div class="panel-body">
						<!-- Registration Form Starts -->
							<!-- Personal Information Starts -->
							<%= form_for(resource, as: resource_name, url: registration_path(resource_name),  html: { class: "form-horizontal"}) do |f| %>
								<%= devise_error_messages! %>
								<div class="form-group">
									<%= f.label "Name", class: "col-sm-3 control-label"%>
									<div class="col-sm-9">
										<%= f.text_field :first_name, class: "form-control", autocomplete: "first_name", :required => true, placeholder: "Name" %>
									</div>
								</div>
								<div class="form-group">
									<%= f.label "Email", class: "col-sm-3 control-label"%>
									<div class="col-sm-9">
										<%= f.email_field :email, autofocus: true, class: "form-control", autocomplete: "email", :required => true, placeholder: "Email" %>
									</div>
								</div>
							<!-- Personal Information Ends -->
								<h3 class="panel-heading inner">
									Password
								</h3>
							<!-- Password Area Starts -->
								<div class="form-group">
									<%= f.label :password, class: "col-sm-3 control-label"%>
									<div class="col-sm-9">
										<!--  TODO Change later. Harcoded password requirement -->
										<%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password (6 characters minimum)"%>
									</div>
								</div>
								<div class="form-group">
									<%= f.label "Re-Password", class: "col-sm-3 control-label"%>
									<div class="col-sm-9">
										<!--  TODO Change later. Harcoded password requirement -->
										<%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Re-Password (6 characters minimum)"%>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-offset-3 col-sm-9">
										<div class="checkbox">
											<label>
												<input type="checkbox" required="required"> I have read the allergy notice.
											</label>
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-offset-3 col-sm-9">
										<div class="actions">
											<%= f.submit "Sign Up", class: "btn btn-black" %>
										</div>
									</div>
								</div>
								<% end %>
							<!-- Password Area Ends -->
						<!-- Registration Form Starts -->
						</div>
					</div>
				<!-- Registration Block Ends -->
				</div>
				<div class="col-sm-6">
				<!-- Guest Checkout Panel Starts -->
					<div class="panel panel-smart">
						<div class="panel-heading">
							<h3 class="panel-title">
								Sign Up As a Cook
							</h3>
						</div>
						<div class="panel-body">
							<p>
								Start Cooking For Your Neighbors
							</p>
							<%= link_to "Cook Sign Up", new_cook_registration_path, { :class => "btn btn-black" } %>
						</div>
					</div>
				<!-- Guest Checkout Panel Ends -->
				<!-- Conditions Panel Starts -->
					<div class="panel panel-smart">
						<div class="panel-heading">
							<h3 class="panel-title">
								Allergy Notice
							</h3>
						</div>
						<div class="panel-body">
							<p>
								If you have allergies please make sure to verify with your cook that your meal does not contain any allergic ingredients.
								Your cooks email address will be made available after you place an order.
							</p>
						</div>
					</div>
				<!-- Conditions Panel Ends -->
				</div>
			</div>
		</section>
	<!-- Registration Section Ends -->
	</div>
